Repository actix/actix-web, pull requests merged in 2020-12, with the labels that each got.

#1762 Remove a panic in normalize middleware
  CHANGES.md
  src/middleware/normalize.rs
Labels: P-web, semver-patch

#1798 Fix match_pattern() returning None for scope with resource of empty path
  CHANGES.md
  src/request.rs
  src/rmap.rs
Labels: P-web, semver-patch

#1812 add error to message in test helper func
  CHANGES.md
  src/test.rs
Labels: P-web, semver-patch

#1814 remove a box
  src/route.rs
Labels: P-web, semver-norelease

#1820 remove two unused generics on BoxedRouteFuture types.
  src/route.rs
Labels: P-web, semver-norelease

#1806 fix clippy warnings
  actix-http/src/header/common/content_disposition.rs
  actix-http/src/header/shared/entity.rs
  awc/src/ws.rs
  codecov.yml
  src/middleware/compress.rs
  src/middleware/condition.rs
  src/middleware/errhandlers.rs
  src/types/payload.rs
Labels: P-awc, P-http, P-web, semver-norelease

#1826 Simplify wake up of task
  actix-http/src/h1/payload.rs
  actix-multipart/src/server.rs
Labels: P-http, P-multipart, semver-norelease

#1844 replace actix_utils::oneshot with futures_channel::oneshot
  actix-http/src/client/pool.rs
Labels: P-http, semver-patch

#1845 Bump rand from 0.7.x to 0.8.x
  CHANGES.md
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  awc/CHANGES.md
  awc/Cargo.toml
  awc/tests/test_client.rs
  tests/test_server.rs
Labels: P-awc, P-http, P-web, semver-patch

#1839 improve NormalizePath docs
  src/middleware/normalize.rs
Labels: P-web, semver-patch

#1840 dispatcher internals testing
  actix-http/src/cloneable.rs
  actix-http/src/extensions.rs
  actix-http/src/h1/codec.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/expect.rs
  actix-http/src/h1/upgrade.rs
  actix-http/src/test.rs
  actix-http/src/ws/mod.rs
Labels: P-http, semver-norelease

#1843 Simplify handler
  src/handler.rs
  src/route.rs
Labels: P-web

#1836 Remove boxed future from h1 Dispatcher
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-patch

#1811 Add optional support for hidden files/directories
  actix-files/CHANGES.md
  actix-files/src/files.rs
  actix-files/src/path_buf.rs
  actix-files/src/service.rs
Labels: C-feature, P-files

#1853 remove unused `actix_http::h1::OneRequest`
  actix-http/src/h1/mod.rs
  actix-http/src/h1/service.rs
Labels: P-http, semver-major

#1852 Rename factory to handler
  CHANGES.md
  src/handler.rs
  src/lib.rs
  src/resource.rs
  src/route.rs
  src/web.rs
Labels: P-web, semver-major

#1854 reduce branch in actix_http::h1::codec
  actix-http/src/h1/codec.rs
Labels: P-http, semver-norelease

#1859 format factory_tuple macro invocations
  src/handler.rs
Labels: P-web, semver-norelease
