Repository actix/actix-web, pull requests merged in 2020-01, with the labels that each got.

#1282 allow explicit SameSite=None cookies
  MIGRATION.md
  actix-http/CHANGES.md
  actix-http/src/cookie/draft.rs
  actix-http/src/cookie/mod.rs
Labels: breaking change, waiting-on-review

#1299 Remove codecoverage for tests and examples
  codecov.yml
Labels: waiting-on-author

#1311 Initial Issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: waiting-on-review

#1303 Fixing #1295 convert UnsafeCell to RefCell in CloneableService
  actix-http/src/cloneable.rs
Labels: waiting-on-review

#1298 Add benchmark for full stack request lifecycle
  Cargo.toml
  actix-http/src/cloneable.rs
  actix-http/src/cookie/draft.rs
  benches/server.rs
  benches/service.rs
Labels: waiting-on-review

#1290 Add ability to name a handler function as 'config'
  actix-web-codegen/CHANGES.md
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/test_macro.rs
Labels: waiting-on-review

#1302 Update `call_service` documentation
  src/test.rs
Labels: waiting-on-review

#1293 Replace `Pin::new_unchecked` with #[pin_project] in `tuple_from_req!`
  src/extract.rs
Labels: waiting-on-review

#1294 Remove several uses of `Pin::new_unchecked`
  actix-http/src/client/pool.rs
  actix-http/src/h2/dispatcher.rs
Labels: waiting-on-review

#1308 Skip empty chucks for BodyStream and SizedStream
  CHANGES.md
  actix-http/src/body.rs
Labels: waiting-on-review

#1254 Upgrade `time` to 0.2.5
  CHANGES.md
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/config.rs
  actix-http/src/cookie/builder.rs
  actix-http/src/cookie/jar.rs
  actix-http/src/cookie/mod.rs
  actix-http/src/cookie/parse.rs
  actix-http/src/header/shared/httpdate.rs
  actix-http/src/lib.rs
  actix-http/src/time_parser.rs
  actix-identity/CHANGES.md
  actix-identity/Cargo.toml
  actix-identity/src/lib.rs
  actix-multipart/CHANGES.md
  actix-multipart/Cargo.toml
  actix-session/CHANGES.md
  actix-session/Cargo.toml
  actix-session/src/cookie.rs
  src/middleware/logger.rs
  test-server/CHANGES.md
  test-server/Cargo.toml
Labels: breaking change, waiting-on-review

#1292 [actix-session] Long lasting auto-prolonged session
  actix-session/CHANGES.md
  actix-session/src/cookie.rs
Labels: actix-session, waiting-on-review

#1325 Replace `UnsafeCell` with `Cell` in `DateServiceInner`
  actix-http/src/config.rs
Labels: waiting-on-review

#1326 Enforce safety of `downcast_ref` at compile time.
  actix-http/src/error.rs
Labels: waiting-on-review

#1328 Use `Pin<Box<S>>` in `BodyStream` and `SizedStream`
  actix-http/src/body.rs
  tests/test_weird_poll.rs
Labels: waiting-on-review
