Repository actix/actix-web, pull requests merged in 2020-10, with the labels that each got.

#1714 add files preference for utf8 text responses
  actix-files/CHANGES.md
  actix-files/src/encoding.rs
  actix-files/src/files.rs
  actix-files/src/lib.rs
  actix-files/src/named.rs
  actix-files/tests/encoding.rs
  actix-files/tests/utf8.txt
  rust-toolchain
Labels: P-files, semver-minor

#1728 Fix clippy::rc_buffer
  src/app.rs
  src/app_service.rs
  src/config.rs
  src/lib.rs
  src/route.rs
  src/scope.rs
Labels: P-web, semver-norelease

#1723 Implement Logger middleware regex exclude pattern
  CHANGES.md
  Cargo.toml
  src/middleware/logger.rs
Labels: P-web, semver-minor

#1741 always construct shortslice using debug checked new constructor
  actix-http/src/ws/mask.rs
Labels: P-http, semver-norelease

#1744 Bump base64 to 0.13
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  awc/CHANGES.md
  awc/Cargo.toml
  test-server/CHANGES.md
  test-server/Cargo.toml
Labels: P-awc, P-http, P-test-server, semver-patch

#1743 Print unconfigured `Data<T>` type when attempting extraction
  CHANGES.md
  src/data.rs
Labels: P-web, semver-minor

#1748 Add `web::ReqData<T>` extractor
  CHANGES.md
  src/data.rs
  src/lib.rs
  src/request_data.rs
  src/web.rs
Labels: P-web, semver-minor

#1750 Re-export bytes::Buf and bytes::BufMut as well
  CHANGES.md
  src/web.rs
Labels: P-web, semver-patch

#1737 use idenity encoding on client if no compression features are enabled
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/request.rs
Labels: P-awc, semver-patch

#1733 Bump pin-project to 1.0
  CHANGES.md
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-web-actors/CHANGES.md
  actix-web-actors/Cargo.toml
Labels: P-actors, P-awc, P-http, P-test-server, P-web, semver-patch

#1749 register fns for custom request-derived logging units
  CHANGES.md
  src/middleware/logger.rs
Labels: P-web, semver-minor

#1754 expose on_connect v2
  CHANGES.md
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/src/builder.rs
  actix-http/src/extensions.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/service.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/h2/service.rs
  actix-http/src/helpers.rs
  actix-http/src/lib.rs
  actix-http/src/service.rs
  actix-http/tests/test_openssl.rs
  actix-http/tests/test_server.rs
  examples/on_connect.rs
  src/server.rs
Labels: P-http, P-web, semver-minor

#1760 deprecate builder if-x methods
  actix-http/CHANGES.md
  actix-http/src/response.rs
  awc/CHANGES.md
  awc/src/request.rs
Labels: P-web, semver-patch
