Repository actix/actix-web, pull requests merged in 2020-06, with the labels that each got.

#1550 Enforce HW_BUFFER_SIZE inside h1::dispatcher
  CHANGES.md
  actix-http/src/h1/dispatcher.rs
Labels: backport-candidate, semver-patch

#1548 Fix NormalizePath trailing slash behavior
  CHANGES.md
  src/middleware/normalize.rs
Labels: semver-patch

#1562 exclude default -web features on -actors
  actix-web-actors/Cargo.toml
Labels: semver-patch

#1559 re-export actix_rt::main macro
  CHANGES.md
  Cargo.toml
  README.md
  examples/basic.rs
  examples/client.rs
  examples/uds.rs
  src/lib.rs
Labels: semver-minor

#1558 migrate cookie handling to cookie crate
  CHANGES.md
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/cookie/builder.rs
  actix-http/src/cookie/delta.rs
  actix-http/src/cookie/draft.rs
  actix-http/src/cookie/jar.rs
  actix-http/src/cookie/mod.rs
  actix-http/src/cookie/parse.rs
  actix-http/src/cookie/secure/key.rs
  actix-http/src/cookie/secure/macros.rs
  actix-http/src/cookie/secure/mod.rs
  actix-http/src/cookie/secure/private.rs
  actix-http/src/cookie/secure/signed.rs
  actix-http/src/lib.rs
  actix-http/src/response.rs
  actix-http/src/test.rs
  awc/src/request.rs
  awc/src/test.rs
  awc/src/ws.rs
Labels: semver-major

#1566 add method to extract matched resource pattern
  CHANGES.md
  src/request.rs
  src/rmap.rs
  src/service.rs
Labels: semver-minor

#1577 add method to extract matched resource name
  CHANGES.md
  src/request.rs
  src/rmap.rs
  src/service.rs
Labels: semver-minor
