Repository actix/actix-web, pull requests merged in 2020-09, with the labels that each got.

#1641 extract more config types from Data<T> as well
  CHANGES.md
  src/types/form.rs
  src/types/json.rs
  src/types/payload.rs
Labels: C-improvement, semver-minor

#1642 document all remaining unsafe usages
  actix-http/src/config.rs
  actix-http/src/h1/decoder.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/macros.rs
  actix-http/src/ws/mask.rs
Labels: C-docs

#1655 bump connect and tls versions
  CHANGES.md
  Cargo.toml
  MIGRATION.md
  actix-http/Cargo.toml
  actix-http/src/h1/service.rs
  actix-http/src/h2/service.rs
  actix-http/src/service.rs
  awc/Cargo.toml
  docs/graphs/net-only.dot
  docs/graphs/web-focus.dot
  src/server.rs
  test-server/Cargo.toml
  tests/test_httpserver.rs
Labels: P-actix-http, P-awc, semver-patch

#1656 awc: improve module documentation
  awc/src/lib.rs
Labels: P-awc, semver-patch

#1660 Fix examples hyperlink in README
  README.md
Labels: C-docs

#1665 awc: Rename Client::build to Client::builder
  awc/CHANGES.md
  awc/src/lib.rs
  awc/src/request.rs
  awc/src/ws.rs
  awc/tests/test_client.rs
  awc/tests/test_connector.rs
  awc/tests/test_rustls_client.rs
  awc/tests/test_ssl_client.rs
  src/test.rs
  test-server/src/lib.rs
  tests/test_httpserver.rs
Labels: P-awc, semver-major

#1666 bump actix dependency to v0.10
  Cargo.toml
  actix-http/Cargo.toml
  actix-http/src/header/common/content_disposition.rs
  actix-web-actors/Cargo.toml
  src/lib.rs
  src/test.rs
Labels: P-actix-http, semver-patch, websockets

#1677 add trybuild tests to routing codegen
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/README.md
  actix-web-codegen/src/lib.rs
  actix-web-codegen/tests/trybuild.rs
  actix-web-codegen/tests/trybuild/simple-fail.rs
  actix-web-codegen/tests/trybuild/simple-fail.stderr
  actix-web-codegen/tests/trybuild/simple.rs
Labels: P-codegen

#1678 fix trimming to inaccessible root path
  CHANGES.md
  src/middleware/normalize.rs
Labels: P-web, semver-patch

#1645 Add possibility to set address for test_server
  test-server/CHANGES.md
  test-server/src/lib.rs
Labels: P-test-server, semver-minor

#1674 Provide attribute macro for multiple HTTP methods
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/src/lib.rs
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/test_macro.rs
  actix-web-codegen/tests/trybuild.rs
  actix-web-codegen/tests/trybuild/route-duplicate-method-fail.rs
  actix-web-codegen/tests/trybuild/route-duplicate-method-fail.stderr
  actix-web-codegen/tests/trybuild/route-missing-method-fail-msrv.rs
  actix-web-codegen/tests/trybuild/route-missing-method-fail-msrv.stderr
  actix-web-codegen/tests/trybuild/route-missing-method-fail.rs
  actix-web-codegen/tests/trybuild/route-missing-method-fail.stderr
  actix-web-codegen/tests/trybuild/route-ok.rs
  actix-web-codegen/tests/trybuild/route-unexpected-method-fail.rs
  actix-web-codegen/tests/trybuild/route-unexpected-method-fail.stderr
Labels: P-codegen, semver-minor

#1701 eemove non-relevant comment from actix-http README.md
  actix-http/README.md
Labels: C-docs, P-http

#1685 split up files lib
  actix-files/Cargo.toml
  actix-files/src/chunked.rs
  actix-files/src/directory.rs
  actix-files/src/files.rs
  actix-files/src/lib.rs
  actix-files/src/named.rs
  actix-files/src/path_buf.rs
  actix-files/src/range.rs
  actix-files/src/service.rs
Labels: P-files, semver-norelease

#1705 Unify route macros
  actix-web-codegen/src/lib.rs
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/trybuild/route-duplicate-method-fail.stderr
  actix-web-codegen/tests/trybuild/route-unexpected-method-fail.stderr
  actix-web-codegen/tests/trybuild/simple-fail.rs
  actix-web-codegen/tests/trybuild/simple-fail.stderr
Labels: P-codegen, semver-norelease

#1695 Add TrailingSlash::MergeOnly behavior
  CHANGES.md
  MIGRATION.md
  src/middleware/normalize.rs
Labels: P-web, semver-patch

#1704 Fix Multipart consuming payload before header checks
  actix-multipart/CHANGES.md
  actix-multipart/src/extractor.rs
  actix-multipart/src/server.rs
Labels: P-multipart, semver-patch

#1708 Fix cyclic references in ResourceMap
  CHANGES.md
  src/rmap.rs
Labels: P-web, semver-patch
