Repository actix/actix-web, pull requests merged in 2020-08, with the labels that each got.

#1601 add dep graph dot graphs
  docs/graphs/.gitignore
  docs/graphs/dependency-graphs.md
  docs/graphs/net-only.dot
  docs/graphs/web-focus.dot
  docs/graphs/web-only.dot
Labels: C-docs

#1618 match HttpRequest app_data behavior in ServiceRequest
  CHANGES.md
  src/service.rs
Labels: semver-major

#1621 Re-export all error types from awc
  CHANGES.md
  src/lib.rs
Labels: semver-minor

#1639 Configurable trailing slash behaviour for NormalizePath
  CHANGES.md
  MIGRATION.md
  src/middleware/condition.rs
  src/middleware/normalize.rs
Labels: C-improvement, semver-major

#1634 integrate with updated actix-{codec, utils}
  CHANGES.md
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/client/connection.rs
  actix-http/src/client/h1proto.rs
  actix-http/src/error.rs
  actix-http/src/h1/client.rs
  actix-http/src/h1/codec.rs
  actix-http/src/h1/service.rs
  actix-http/src/h1/utils.rs
  actix-http/src/ws/codec.rs
  actix-http/src/ws/dispatcher.rs
  actix-http/tests/test_ws.rs
  actix-multipart/Cargo.toml
  actix-web-actors/Cargo.toml
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/connect.rs
  awc/src/ws.rs
  awc/tests/test_ws.rs
  test-server/CHANGES.md
  test-server/Cargo.toml
Labels: P-actix-http, P-awc, semver-patch
