Repository actix/actix-web, pull requests merged in 2020-11, with the labels that each got.

#1767 Drop content length headers from 101 responses
  actix-http/CHANGES.md
  actix-http/src/h1/encoder.rs
  actix-web-actors/src/ws.rs
Labels: P-actors, P-http, semver-patch

#1768 add common 1xx http response builders
  actix-http/CHANGES.md
  actix-http/src/httpcodes.rs
Labels: P-http, semver-patch

#1774 Fix typo in request_data.rs
  src/request_data.rs
Labels: P-web, semver-norelease

#1777 Fix typo in Query extractor docs
  src/types/query.rs
Labels: P-web, semver-norelease

#1785 `actix-files` intra-doc migration
  actix-files/src/named.rs
Labels: P-files, semver-norelease

#1788 add either extractor
  CHANGES.md
  src/error.rs
  src/lib.rs
  src/responder.rs
  src/types/either.rs
  src/types/mod.rs
Labels: P-web, semver-minor

#1793 add method for getting accept type preference
  actix-http/CHANGES.md
  actix-http/src/header/common/accept.rs
  actix-http/src/header/shared/quality_item.rs
Labels: P-http, semver-minor

#1797 refactor quality and use TryFrom instead of custom trait
  actix-http/CHANGES.md
  actix-http/src/header/mod.rs
  actix-http/src/header/shared/charset.rs
  actix-http/src/header/shared/quality_item.rs
Labels: P-http, semver-patch
