Repository actix/actix-web, pull requests merged in 2020-07, with the labels that each got.

#1585 Update `v_htmlescape` to 0.10
  actix-files/CHANGES.md
  actix-files/Cargo.toml
Labels: P-actix-files, backport-candidate

#1590 revamp readme and root doc page
  README.md
  src/lib.rs
Labels: C-docs

#1580 Fix leaks with actix_http's client
  actix-http/CHANGES.md
  actix-http/src/client/pool.rs
  awc/src/request.rs
  benches/server.rs
Labels: P-actix-http, backport-candidate, semver-patch

#1609 fix continous growth of app data in pooled requests
  CHANGES.md
  src/app_service.rs
  src/request.rs
Labels: semver-patch

#1610 also try extracting payload config as Data<T>
  CHANGES.md
  src/types/payload.rs
Labels: semver-minor

#1594 Make web::Path a tuple struct with a public inner value
  CHANGES.md
  MIGRATION.md
  README.md
  src/lib.rs
  src/types/path.rs
Labels: semver-major

#1616 bump MSRV to 1.42
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/linux.yml
  CHANGES.md
  README.md
  actix-http/src/body.rs
  actix-http/src/client/h2proto.rs
  actix-http/src/h1/decoder.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/header/common/content_disposition.rs
  actix-http/src/header/mod.rs
  actix-http/src/ws/frame.rs
  awc/src/response.rs
  rust-toolchain
  src/types/form.rs
  src/types/json.rs
Labels: semver-major

#1614 fix soundness concern in h1 decoder
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/benches/uninit-headers.rs
  actix-http/src/h1/decoder.rs
Labels: semver-patch

#1615 Fix illegal chunked encoding
  actix-http/CHANGES.md
  actix-http/src/h1/decoder.rs
Labels: semver-patch
