Repository actix/actix-web, pull requests merged in 2021-09, with the labels that each got.

#2337 rework `ResourceMap` internals
  src/app_service.rs
  src/request.rs
  src/rmap.rs
Labels: semver-minor, P-router

#2344 Fix quality parse error in Accept-Encoding HTTP header
  CHANGES.md
  actix-http/CHANGES.md
  actix-http/src/encoding/decoder.rs
  actix-http/src/header/shared/content_encoding.rs
  actix-http/src/header/shared/quality_item.rs
  src/middleware/compress.rs
  tests/test_server.rs
Labels: P-http, semver-minor, P-web

#2310 Send headers within the redirect requests.
  awc/CHANGES.md
  awc/src/middleware/redirect.rs
Labels: P-awc, semver-patch

#2379 refactor web module
  .cargo/config.toml
  .github/workflows/ci.yml
  CHANGES.md
  src/dev.rs
  src/http/header/content_disposition.rs
  src/lib.rs
  src/service.rs
  src/web.rs
Labels: semver-major, P-web

#2172 accept owned strings in TestRequest::param
  CHANGES.md
  src/test.rs
Labels: semver-minor, P-web

#2383 remove time dep from actix-http
  Cargo.toml
  actix-http-test/Cargo.toml
  actix-http-test/src/lib.rs
  actix-http/Cargo.toml
  actix-http/src/config.rs
  actix-http/src/header/shared/http_date.rs
  actix-http/src/header/shared/httpdate.rs
  actix-http/src/header/shared/mod.rs
  actix-http/src/lib.rs
  actix-http/src/time_parser.rs
  actix-http/tests/test_server.rs
  src/middleware/logger.rs
Labels: P-http, semver-patch, P-web

#2233 Remove `FromRequest::Config`
  CHANGES.md
  Cargo.toml
  MIGRATION.md
  actix-files/src/path_buf.rs
  actix-multipart/src/extractor.rs
  src/data.rs
  src/extract.rs
  src/info.rs
  src/request.rs
  src/request_data.rs
  src/types/either.rs
  src/types/form.rs
  src/types/header.rs
  src/types/json.rs
  src/types/path.rs
  src/types/payload.rs
  src/types/query.rs
Labels: semver-major, P-web

#2384 improve extract docs
  CHANGES.md
  src/extract.rs
  src/types/form.rs
  src/types/json.rs
  src/types/path.rs
  src/types/payload.rs
Labels: semver-major, P-web

#2362 web: add option to not require content type header for Json
  CHANGES.md
  src/types/json.rs
Labels: semver-major, P-web
