Repository actix/actix-web, pull requests merged in 2021-05, with the labels that each got.

#2184 Static either extract future
  src/types/either.rs
Labels: P-web, semver-major

#2196 Reduce the level of the emitted log line from `error` to `debug`.
  actix-http/CHANGES.md
  actix-http/src/response.rs
Labels: P-http, semver-patch

#2199 Fix loophole in soundness of `__private_get_type_id__`
  actix-http/src/macros.rs
Labels: P-http, semver-patch

#2183 add associated error type to MessageBody
  actix-http/CHANGES.md
  actix-http/src/body/body.rs
  actix-http/src/body/body_stream.rs
  actix-http/src/body/message_body.rs
  actix-http/src/body/mod.rs
  actix-http/src/body/response_body.rs
  actix-http/src/body/sized_stream.rs
  actix-http/src/builder.rs
  actix-http/src/client/connection.rs
  actix-http/src/client/h1proto.rs
  actix-http/src/client/h2proto.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/error.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/service.rs
  actix-http/src/h1/utils.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/h2/service.rs
  actix-http/src/response.rs
  actix-http/src/service.rs
  actix-test/src/lib.rs
  src/middleware/compat.rs
  src/middleware/logger.rs
  src/response/response.rs
  src/server.rs
  src/service.rs
  src/test.rs
Labels: P-http, semver-major

#2200 Expose SererBuilder::worker_max_blocking_threads
  CHANGES.md
  src/server.rs
Labels: P-web, semver-minor

#2201 remove responsebody indirection from response
  .github/workflows/ci.yml
  CHANGES.md
  actix-files/src/service.rs
  actix-http/CHANGES.md
  actix-http/examples/ws.rs
  actix-http/src/body/mod.rs
  actix-http/src/error.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/h1/utils.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/header/shared/charset.rs
  actix-http/src/lib.rs
  actix-http/src/message.rs
  actix-http/src/response.rs
  actix-http/src/response_builder.rs
  actix-http/tests/test_ws.rs
  src/app_service.rs
  src/error.rs
  src/lib.rs
  src/middleware/compat.rs
  src/middleware/compress.rs
  src/middleware/logger.rs
  src/responder.rs
  src/response/builder.rs
  src/response/response.rs
  src/scope.rs
  src/service.rs
  src/test.rs
  src/types/json.rs
  tests/test_server.rs
Labels: P-http, P-web, semver-major

#2213 cleanup ws test
  actix-http/tests/test_ws.rs
Labels: P-http, semver-norelease

#2215 move internalerror to actix web
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/body/body.rs
  actix-http/src/body/mod.rs
  actix-http/src/error.rs
  actix-http/src/helpers.rs
  actix-http/tests/test_client.rs
  actix-http/tests/test_openssl.rs
  actix-http/tests/test_rustls.rs
  actix-http/tests/test_server.rs
  src/data.rs
  src/error/internal.rs
  src/error/mod.rs
  src/request_data.rs
  src/responder.rs
  src/types/path.rs
  src/types/payload.rs
Labels: P-http, semver-major

#2217 Fix clippy warnings
  actix-files/src/files.rs
  actix-http/src/response.rs
  benches/server.rs
  tests/test_server.rs
Labels: P-files, P-http, semver-norelease

#2232 Only run UI tests on MSRV
  actix-web-codegen/tests/trybuild.rs
Labels: P-codegen, semver-norelease

#2211 refactor h2 dispatcher to async/await.reduce duplicate code
  actix-http/src/h2/dispatcher.rs
Labels: P-http, semver-norelease

#2214 Response::from_error take impl Into<Error>
  actix-http/src/h1/dispatcher.rs
  actix-http/src/response.rs
Labels: P-http, semver-norelease

#2225 files: Fix `redirect_to_slash_directory()` when used with `show_files_listing()`
  actix-files/CHANGES.md
  actix-files/src/lib.rs
  actix-files/src/service.rs
Labels: P-files, semver-patch
