Repository actix/actix-web, pull requests merged in 2021-04, with the labels that each got.

#2097 added `TestServer::client_headers`
  CHANGES.md
  actix-http-test/CHANGES.md
  actix-http-test/src/lib.rs
  actix-web-actors/Cargo.toml
  actix-web-actors/tests/test_ws.rs
  src/test.rs
Labels: P-test-server, P-web, semver-minor

#2094 move typed headers and implement FromRequest
  CHANGES.md
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/src/header/mod.rs
  actix-http/src/header/shared/content_encoding.rs
  actix-http/src/header/shared/mod.rs
  actix-http/src/header/shared/quality_item.rs
  actix-http/src/header/utils.rs
  actix-http/src/response.rs
  awc/CHANGES.md
  awc/src/request.rs
  awc/src/response.rs
  awc/src/test.rs
  src/http/header/accept.rs
  src/http/header/accept_charset.rs
  src/http/header/accept_encoding.rs
  src/http/header/accept_language.rs
  src/http/header/allow.rs
  src/http/header/cache_control.rs
  src/http/header/content_disposition.rs
  src/http/header/content_language.rs
  src/http/header/content_range.rs
  src/http/header/content_type.rs
  src/http/header/date.rs
  src/http/header/encoding.rs
  src/http/header/entity.rs
  src/http/header/etag.rs
  src/http/header/expires.rs
  src/http/header/if_match.rs
  src/http/header/if_modified_since.rs
  src/http/header/if_none_match.rs
  src/http/header/if_range.rs
  src/http/header/if_unmodified_since.rs
  src/http/header/last_modified.rs
  src/http/header/mod.rs
  src/http/header/range.rs
  src/http/mod.rs
  src/lib.rs
  src/test.rs
  src/types/header.rs
  src/types/mod.rs
Labels: P-awc, P-http, P-web, semver-major

#2112 migrate integration testing to new crate
  CHANGES.md
  Cargo.toml
  actix-files/Cargo.toml
  actix-files/src/lib.rs
  actix-http-test/src/lib.rs
  actix-http/Cargo.toml
  actix-http/src/service.rs
  actix-test/CHANGES.md
  actix-test/Cargo.toml
  actix-test/LICENSE-APACHE
  actix-test/LICENSE-MIT
  actix-test/src/lib.rs
  actix-web-actors/Cargo.toml
  actix-web-actors/tests/test_ws.rs
  actix-web-codegen/Cargo.toml
  actix-web-codegen/tests/test_macro.rs
  actix-web-codegen/tests/trybuild/docstring-ok.rs
  actix-web-codegen/tests/trybuild/route-duplicate-method-fail.rs
  actix-web-codegen/tests/trybuild/route-duplicate-method-fail.stderr
  actix-web-codegen/tests/trybuild/route-missing-method-fail.rs
  actix-web-codegen/tests/trybuild/route-missing-method-fail.stderr
  actix-web-codegen/tests/trybuild/route-ok.rs
  actix-web-codegen/tests/trybuild/route-unexpected-method-fail.rs
  actix-web-codegen/tests/trybuild/route-unexpected-method-fail.stderr
  actix-web-codegen/tests/trybuild/simple.rs
  awc/Cargo.toml
  awc/examples/client.rs
  awc/src/middleware/redirect.rs
  awc/tests/test_client.rs
  benches/server.rs
  codecov.yml
  src/config.rs
  src/data.rs
  src/lib.rs
  src/middleware/compat.rs
  src/request.rs
  src/server.rs
  src/service.rs
  src/test.rs
  tests/test_httpserver.rs
  tests/test_server.rs
Labels: P-awc, P-http, P-web, semver-major

#2141 make module/crate re-exports doc inline
  src/lib.rs
Labels: P-web, semver-norelease

#2143 update year in MIT license
  LICENSE-MIT
Labels: P-meta

#2142 derive debug where possible
  src/types/form.rs
  src/types/header.rs
  src/types/json.rs
  src/types/path.rs
  src/types/query.rs
Labels: P-web, semver-norelease

#2148 remove json and url encoded form support from -http
  CHANGES.md
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/body/body.rs
  actix-http/src/body/mod.rs
  actix-http/src/error.rs
  actix-http/src/response.rs
  awc/CHANGES.md
  awc/src/request.rs
  awc/src/sender.rs
  src/error.rs
  src/response.rs
  src/types/form.rs
  src/types/json.rs
  src/types/path.rs
Labels: P-http, semver-major

#2156 files: Don't use canonical path when serving file
  actix-files/CHANGES.md
  actix-files/src/lib.rs
  actix-files/src/service.rs
  actix-files/tests/symlink-test.png
Labels: P-files, semver-patch

#2152 remove unpin from body types
  actix-http/CHANGES.md
  actix-http/examples/echo2.rs
  actix-http/src/body/body.rs
  actix-http/src/body/body_stream.rs
  actix-http/src/body/message_body.rs
  actix-http/src/body/sized_stream.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/error.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/http_codes.rs
  actix-http/src/lib.rs
  actix-http/src/response.rs
  actix-http/src/ws/mod.rs
  actix-http/tests/test_openssl.rs
  actix-http/tests/test_rustls.rs
  actix-http/tests/test_server.rs
  src/responder.rs
  src/response.rs
Labels: P-http, semver-major

#2158 add body to_bytes helper
  actix-http/CHANGES.md
  actix-http/src/body/body_stream.rs
  actix-http/src/body/mod.rs
  actix-http/src/body/response_body.rs
  actix-http/src/body/sized_stream.rs
Labels: P-http, semver-minor

#2159 remove http-codes builders from actix-http
  actix-http/CHANGES.md
  actix-http/examples/echo.rs
  actix-http/examples/echo2.rs
  actix-http/examples/hello-world.rs
  actix-http/src/error.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/lib.rs
  actix-http/src/response.rs
  actix-http/src/ws/mod.rs
  actix-http/tests/test_client.rs
  actix-http/tests/test_openssl.rs
  actix-http/tests/test_rustls.rs
  actix-http/tests/test_server.rs
  actix-http/tests/test_ws.rs
  awc/tests/test_ws.rs
  src/app_service.rs
  src/resource.rs
  src/response/builder.rs
  src/response/http_codes.rs
  src/response/mod.rs
  src/response/response.rs
Labels: P-http, semver-major

#2089 reduce branches in h1 dispatcher poll_keepalive
  actix-http/src/h1/dispatcher.rs
  actix-http/src/lib.rs
Labels: P-http, semver-norelease

#2161 non exhaustive http errors
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/error.rs
Labels: P-http, semver-major

#2163 chore: update benchmaks to round 20
  README.md
Labels: P-meta

#2164 Add responder impl for Cow<str>
  actix-http/src/body/body.rs
  src/responder.rs
Labels: P-web, semver-patch

#2135 Named file service
  actix-files/src/files.rs
  actix-files/src/lib.rs
  actix-files/src/named.rs
  awc/tests/test_ssl_client.rs
Labels: P-files, semver-minor

#2171 make some http re-exports more accessible
  actix-http/CHANGES.md
  actix-http/src/error.rs
  actix-http/src/header/mod.rs
  actix-http/src/lib.rs
  actix-http/src/message.rs
  actix-http/src/response_builder.rs
  actix-test/CHANGES.md
  src/http/header/content_disposition.rs
  src/service.rs
Labels: P-http, semver-major

#2174 Fix perf drop in HttpResponseBuilder
  src/response/builder.rs
Labels: P-web, semver-norelease

#2180 update awc docs link, formatting
  README.md
  src/lib.rs
Labels: P-web, semver-norelease

#2181 static form extract future
  src/types/form.rs
Labels: P-web, semver-major

#2046 add support of filtering guards in Files of actix-files
  actix-files/CHANGES.md
  actix-files/src/files.rs
  actix-files/tests/fixtures/guards/first/index.txt
  actix-files/tests/fixtures/guards/second/index.txt
  actix-files/tests/guard.rs
  src/guard.rs
Labels: P-files, semver-major

#2188 Update dependency "language-tags"
  CHANGES.md
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  src/http/header/accept_language.rs
  src/http/header/content_language.rs
Labels: P-http, P-web, semver-major
