Repository actix/actix-web, pull requests merged in 2021-02, with the labels that each got.

#1960 fix awc test_client test
  awc/tests/test_client.rs
Labels: P-awc, semver-norelease

#1957 fix master branch build. change web::block output type.
  CHANGES.md
  Cargo.toml
  actix-files/Cargo.toml
  actix-files/src/chunked.rs
  actix-files/src/named.rs
  actix-http-test/Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/encoding/decoder.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/error.rs
  actix-multipart/Cargo.toml
  actix-web-actors/Cargo.toml
  actix-web-codegen/Cargo.toml
  awc/Cargo.toml
  src/test.rs
  src/web.rs
Labels: P-files, P-http, P-web, semver-major

#1929 fix memory usage for h1 and read bug on buffer size.
  actix-http/src/h1/decoder.rs
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-patch

#1926 properly drop h2 connection
  actix-http/src/client/connection.rs
  actix-http/src/client/h2proto.rs
  actix-http/src/client/pool.rs
Labels: P-awc, P-http, semver-norelease

#1953 Use askama-escape for html escaping
  actix-files/CHANGES.md
  actix-files/Cargo.toml
  actix-files/src/directory.rs
Labels: P-files, semver-patch

#1939 Improve `impl ResponseError` documentation
  actix-http/src/error.rs
Labels: P-http, semver-patch

#1941 simplify methods of awc::connect::Connect trait
  actix-http/src/h1/client.rs
  actix-http/src/h1/encoder.rs
  awc/src/connect.rs
  awc/src/sender.rs
Labels: P-awc, P-http, semver-major

#1914 optimize actix-http messages
  actix-http/src/message.rs
Labels: P-http, semver-norelease

#1963 use stable clippy
  .github/workflows/bench.yml
  .github/workflows/clippy-fmt.yml
  .github/workflows/upload-doc.yml
  src/middleware/condition.rs
  src/middleware/err_handlers.rs
  tests/test_httpserver.rs
Labels: P-meta

#1962 reduce branch.remove deadcode for h1 dispatcher
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1933 add services register for tuple and vec of services
  CHANGES.md
  src/service.rs
Labels: P-web, semver-major

#1971 add poll_flush after a non blocked write to h1 dispatcher
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1964 clean up header map
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/client/h1proto.rs
  actix-http/src/h1/decoder.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/header/as_name.rs
  actix-http/src/header/map.rs
  actix-http/src/header/mod.rs
  actix-http/src/request.rs
  actix-http/src/response.rs
  awc/src/frozen.rs
  awc/src/request.rs
  awc/src/sender.rs
  src/request.rs
Labels: P-http, P-web, semver-major

#1974 ensure poll_flush on h1 connection disconnect
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1972 reduce unsafe
  actix-http/src/h1/dispatcher.rs
  actix-http/src/ws/frame.rs
  actix-http/src/ws/mask.rs
Labels: P-http, semver-norelease

#1978 clean up poll_response. add comments
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1980 remove unused flag POLLED
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1984 do not self wake up when have a payload
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1983 refactor DateService
  actix-http/src/config.rs
  actix-http/src/h1/codec.rs
  actix-http/src/h1/encoder.rs
  benches/server.rs
Labels: P-http, semver-norelease

#1982 rework ci
  .github/workflows/ci.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  Cargo.toml
  actix-http-test/Cargo.toml
  actix-http/Cargo.toml
  awc/Cargo.toml
Labels: P-meta

#1987 fix notify on drop
  actix-http/src/config.rs
Labels: P-http, semver-norelease

#1981 optional cookies features
  CHANGES.md
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/error.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/http_message.rs
  actix-http/src/lib.rs
  actix-http/src/response.rs
  actix-http/src/test.rs
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/lib.rs
  awc/src/request.rs
  awc/src/response.rs
  awc/src/test.rs
  awc/src/ws.rs
  src/error.rs
  src/lib.rs
  tests/test_server.rs
Labels: P-awc, P-http, P-web, semver-minor

#1989 use rcgen for tls key generation
  .github/workflows/ci.yml
  Cargo.toml
  actix-http/Cargo.toml
  actix-http/tests/test_openssl.rs
  actix-http/tests/test_rustls.rs
  awc/tests/test_connector.rs
  awc/tests/test_ssl_client.rs
  src/lib.rs
  src/middleware/compat.rs
  src/request.rs
  src/test.rs
  tests/cert.pem
  tests/key.pem
  tests/test_httpserver.rs
  tests/test_server.rs
Labels: P-meta

#1991 fix potential over read
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1992 remove unused flag upgrade
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1994 rework client connection pool
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/client/connection.rs
  actix-http/src/client/h1proto.rs
  actix-http/src/client/pool.rs
  actix-http/src/error.rs
Labels: P-awc, P-http, semver-major

#1999 pool doc nits
  actix-http/src/body/mod.rs
  actix-http/src/client/connection.rs
  actix-http/src/client/error.rs
  actix-http/src/client/pool.rs
Labels: P-awc, semver-norelease

#1998 simplify client::connection::Connection trait
  actix-http/src/client/connection.rs
  actix-http/src/client/h1proto.rs
  actix-http/src/client/h2proto.rs
  awc/src/builder.rs
  awc/src/connect.rs
Labels: P-awc, P-http, semver-norelease

#2003 Use http-range library for HttpRange
  actix-files/Cargo.toml
  actix-files/src/range.rs
Labels: P-files, semver-patch

#2005 return poll in poll_flush
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1931 add ClientResponse::timeout
  awc/CHANGES.md
  awc/src/response.rs
  awc/src/sender.rs
  awc/tests/test_client.rs
Labels: P-awc, semver-major

#2004 remove awc::connect::connect trait.
  awc/src/builder.rs
  awc/src/connect.rs
  awc/src/lib.rs
  awc/src/sender.rs
  awc/src/ws.rs
Labels: P-awc, semver-norelease

#2006 simplify the match on h1 message type
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#2009 remove unused method. reduce leaf future type
  actix-http/src/client/connection.rs
  actix-http/src/client/connector.rs
Labels: P-http, semver-norelease

#2008 refactor awc::ClientBuilder
  actix-http-test/src/lib.rs
  actix-http/src/client/mod.rs
  awc/CHANGES.md
  awc/src/builder.rs
  awc/src/lib.rs
  awc/tests/test_client.rs
  awc/tests/test_connector.rs
  awc/tests/test_rustls_client.rs
  awc/tests/test_ssl_client.rs
  src/test.rs
  tests/test_httpserver.rs
Labels: P-awc, semver-major

#2010 Fix Json extractor to be 32kB by default
  CHANGES.md
  src/types/json.rs
Labels: P-web, semver-major

#2017 Inner field of web::Query is public again (#2016)
  src/types/query.rs
Labels: P-web, semver-patch

#2020 reduce duplicate code
  actix-http/src/client/connection.rs
  actix-http/src/client/connector.rs
Labels: P-awc, P-http, semver-norelease

#2019 actix-http-test: minimize features of dependencies
  actix-http-test/Cargo.toml
  actix-http/src/error.rs
  actix-http/src/response.rs
Labels: P-test-server, semver-norelease

#2023 remove usage of actix_utils::mpsc
  actix-multipart/Cargo.toml
  actix-multipart/src/server.rs
Labels: P-multipart, semver-norelease

#2022 Port over doc comments in route macros.
  actix-web-codegen/CHANGES.md
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/trybuild.rs
  actix-web-codegen/tests/trybuild/docstring-ok.rs
Labels: P-codegen, semver-patch

#2025 Fix typos in CHANGES.md
  CHANGES.md
Labels: P-web, semver-norelease

#2033 refactor boxed route
  src/route.rs
Labels: P-web, semver-norelease

#2029 Use once_cell instead of lazy_static
  actix-http/Cargo.toml
  actix-http/src/header/common/content_disposition.rs
Labels: P-http, semver-norelease

#2024 add local_address bind for client builder
  Cargo.toml
  actix-files/Cargo.toml
  actix-http-test/Cargo.toml
  actix-http/Cargo.toml
  actix-http/src/client/config.rs
  actix-http/src/client/connector.rs
  actix-multipart/Cargo.toml
  actix-web-actors/Cargo.toml
  actix-web-codegen/Cargo.toml
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/builder.rs
  awc/tests/test_client.rs
Labels: P-awc, P-http, semver-minor

#2013 add client middleware
  awc/Cargo.toml
  awc/src/builder.rs
  awc/src/connect.rs
  awc/src/lib.rs
  awc/src/middleware/mod.rs
  awc/src/middleware/redirect.rs
  awc/src/response.rs
  src/types/form.rs
  src/types/json.rs
Labels: P-awc, semver-major

#2035 refactor websocket key hashing
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/examples/ws.rs
  actix-http/src/ws/mod.rs
  actix-http/src/ws/proto.rs
  actix-web-actors/src/ws.rs
  awc/src/error.rs
  awc/src/ws.rs
Labels: P-actors, P-awc, P-http, semver-major

#2037 test(files): Fix test and remove outdated case
  actix-files/src/lib.rs
Labels: P-files, semver-norelease
