Repository actix/actix-web, pull requests merged in 2021-11, with the labels that each got.

#2433 add keep alive to h2 through ping pong
  actix-http/src/h2/dispatcher.rs
  actix-http/tests/test_h2_ping_pong.rs
Labels: P-http, semver-patch

#2431 fix awc clippy warning
  awc/src/client/pool.rs
  awc/tests/test_client.rs
Labels: P-awc, semver-norelease

#2387 Log internal server errors
  src/middleware/logger.rs
Labels: semver-patch, P-web

#2442 bump actix-server to beta 9
  CHANGES.md
  Cargo.toml
  README.md
  actix-files/Cargo.toml
  actix-http-test/CHANGES.md
  actix-http-test/Cargo.toml
  actix-http-test/README.md
  actix-http-test/src/lib.rs
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/README.md
  actix-http/tests/test_h2_ping_pong.rs
  actix-http/tests/test_openssl.rs
  actix-http/tests/test_rustls.rs
  actix-http/tests/test_server.rs
  actix-multipart/Cargo.toml
  actix-router/Cargo.toml
  actix-test/CHANGES.md
  actix-test/Cargo.toml
  actix-test/src/lib.rs
  actix-web-actors/Cargo.toml
  actix-web-codegen/Cargo.toml
  awc/CHANGES.md
  awc/Cargo.toml
  awc/README.md
  awc/src/client/connection.rs
  awc/tests/test_rustls_client.rs
  examples/on_connect.rs
  src/dev.rs
  src/server.rs
  tests/test_httpserver.rs
  tests/test_server.rs
Labels: semver-major, P-http, P-web

#2446 simplify `AnyBody` and `BodySize`
  actix-http/CHANGES.md
  actix-http/src/body/body.rs
  actix-http/src/body/message_body.rs
  actix-http/src/body/mod.rs
  actix-http/src/body/size.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/response.rs
  actix-http/src/response_builder.rs
  awc/src/client/h1proto.rs
  awc/src/client/h2proto.rs
  awc/src/middleware/redirect.rs
  awc/src/sender.rs
  src/response/builder.rs
  src/response/http_codes.rs
Labels: semver-major, P-http

#2448 make `AnyBody` generic on `Body` type
  CHANGES.md
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/body/body.rs
  actix-http/src/body/body_stream.rs
  actix-http/src/body/mod.rs
  actix-http/src/body/response_body.rs
  actix-http/src/body/sized_stream.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/response_builder.rs
  awc/src/sender.rs
  src/dev.rs
  src/middleware/compat.rs
  src/middleware/compress.rs
  src/responder.rs
  src/response/builder.rs
  src/response/response.rs
Labels: semver-major, P-http, P-web

#2450 simplify handler.rs
  src/handler.rs
  src/route.rs
Labels: P-web, semver-norelease

#2408 implement io-uring for actix-files
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.toml
  actix-files/CHANGES.md
  actix-files/Cargo.toml
  actix-files/src/chunked.rs
  actix-files/src/files.rs
  actix-files/src/lib.rs
  actix-files/src/named.rs
  actix-files/src/path_buf.rs
  actix-files/src/service.rs
  actix-http-test/CHANGES.md
  actix-http-test/src/lib.rs
  actix-test/CHANGES.md
  actix-test/src/lib.rs
  src/middleware/compress.rs
Labels: P-files, semver-minor, P-web

#2456 prepare for actix-tls v3 beta 9
  Cargo.toml
  actix-http-test/Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/body/body.rs
  actix-http/src/body/mod.rs
  actix-http/src/h1/service.rs
  actix-http/src/h2/service.rs
  actix-http/src/service.rs
  awc/Cargo.toml
Labels: P-http, semver-minor

#2439 awc: support http2 over plain tcp with feature flag
  actix-http-test/src/lib.rs
  awc/Cargo.toml
  awc/src/client/connector.rs
  awc/src/request.rs
  awc/tests/test_client.rs
  awc/tests/test_connector.rs
Labels: P-awc, semver-minor

#2461 Mnior cleanup of multipart API.
  actix-multipart/Cargo.toml
  actix-multipart/src/server.rs
Labels: P-multipart, semver-norelease

#2462 clean up multipart and field stream trait impl
  actix-multipart/src/server.rs
Labels: P-multipart, semver-norelease

#2467 guarantee ordering of header map get_all
  actix-http/CHANGES.md
  actix-http/src/header/map.rs
  actix-http/src/header/mod.rs
  actix-http/src/header/utils.rs
  actix-http/src/ws/proto.rs
Labels: P-http, semver-patch

#2469 re-work from request macro.
  Cargo.toml
  src/extract.rs
Labels: P-web, semver-norelease

#2463 don't hang after dropping mutipart
  actix-multipart/CHANGES.md
  actix-multipart/src/server.rs
Labels: semver-patch, P-multipart

#2470 expose `header::map` module
  actix-http/CHANGES.md
  actix-http/src/header/as_name.rs
  actix-http/src/header/into_pair.rs
  actix-http/src/header/into_value.rs
  actix-http/src/header/map.rs
  actix-http/src/header/mod.rs
  actix-http/src/header/shared/content_encoding.rs
  actix-http/src/header/utils.rs
  src/response/response.rs
Labels: P-http, semver-minor

#2471 remove pin-project from actix-web.
  Cargo.toml
  src/middleware/compat.rs
  src/middleware/compress.rs
  src/middleware/default_headers.rs
  src/middleware/err_handlers.rs
  src/middleware/logger.rs
  src/types/either.rs
Labels: P-web, semver-norelease

#2474 prepare for actix-tls rc.1
  CHANGES.md
  Cargo.toml
  README.md
  actix-files/Cargo.toml
  actix-http-test/CHANGES.md
  actix-http-test/Cargo.toml
  actix-http-test/README.md
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/README.md
  actix-http/src/h1/service.rs
  actix-http/src/h2/service.rs
  actix-http/src/service.rs
  actix-http/tests/test_rustls.rs
  actix-multipart/Cargo.toml
  actix-test/Cargo.toml
  actix-web-actors/Cargo.toml
  awc/CHANGES.md
  awc/Cargo.toml
  awc/README.md
  awc/src/builder.rs
  awc/src/client/connector.rs
  awc/src/client/error.rs
  awc/src/client/mod.rs
  awc/src/lib.rs
  awc/tests/test_client.rs
  awc/tests/test_rustls_client.rs
  scripts/bump
  scripts/ci-test.sh
  src/error/response_error.rs
  src/server.rs
Labels: semver-major, P-web
