Repository actix/actix-web, pull requests merged in 2021-07, with the labels that each got.

#2317 fix tests with tokio 1.8.1
  actix-http/src/config.rs
Labels: P-http, semver-norelease

#2315 Update MIGRATION.md
  MIGRATION.md
Labels: P-meta

#2296 clippy fixes
  .cargo/config.toml
  .github/PULL_REQUEST_TEMPLATE.md
  actix-http/src/config.rs
  actix-http/src/error.rs
  src/info.rs
  src/server.rs
  tests/test_error_propagation.rs
Labels: P-web, semver-norelease

#2325 re-export ServiceFactory
  CHANGES.md
  actix-http/src/request.rs
  src/dev.rs
  src/request.rs
  src/resource.rs
  src/response/response.rs
  src/service.rs
Labels: P-web, semver-patch
