Repository actix/actix-web, pull requests merged in 2021-08, with the labels that each got.

#2339 update to router 0.5.0 beta
  Cargo.toml
  actix-router/CHANGES.md
  actix-router/Cargo.toml
  actix-router/LICENSE-APACHE
  actix-router/LICENSE-MIT
  actix-router/benches/router.rs
  actix-router/examples/flamegraph.rs
  actix-router/src/de.rs
  actix-router/src/lib.rs
  actix-router/src/path.rs
  actix-router/src/resource.rs
  actix-router/src/router.rs
  actix-router/src/url.rs
  src/app.rs
  src/app_service.rs
  src/config.rs
  src/dev.rs
  src/request.rs
  src/resource.rs
  src/rmap.rs
  src/scope.rs
  src/service.rs
  src/types/path.rs
  src/web.rs
Labels: semver-major, P-router, P-web

#2363 HRS security fixes
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/README.md
  actix-http/src/error.rs
  actix-http/src/h1/chunked.rs
  actix-http/src/h1/decoder.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/h1/mod.rs
Labels: P-http, semver-patch

#2364 Don't create a slice to potential uninit data on h1 encoder
  actix-http/CHANGES.md
  actix-http/benches/write-camel-case.rs
  actix-http/src/h1/encoder.rs
Labels: P-http, semver-patch

#2374 update httparse for uninit header parsing
  actix-http/Cargo.toml
  actix-http/src/h1/decoder.rs
Labels: P-http, semver-minor

#2355 ResourceDef: define behavior for prefix with trailing slash
  actix-files/src/files.rs
  actix-router/CHANGES.md
  actix-router/src/resource.rs
  src/scope.rs
Labels: semver-major, P-router, P-web

#2360 Bump actix-http dependency to 3.0.0-beta.9
  Cargo.toml
Labels: semver-patch, P-web

#2350 compile time validation of path
  actix-router/src/resource.rs
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/trybuild.rs
  actix-web-codegen/tests/trybuild/route-malformed-path-fail.rs
  actix-web-codegen/tests/trybuild/route-malformed-path-fail.stderr
Labels: semver-major, P-codegen

#2375 add middleware composition tests
  actix-http/CHANGES.md
  actix-http/src/body/message_body.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/h1/utils.rs
  src/middleware/mod.rs
Labels: P-http, semver-patch

#2356 ResourceDef: support multiple-patterns as prefix
  actix-router/CHANGES.md
  actix-router/src/resource.rs
Labels: semver-major, P-router
