Repository actix/actix-web, pull requests merged in 2021-01, with the labels that each got.

#1866 replace tinyvec with smallvec
  Cargo.toml
  src/app_service.rs
  src/request.rs
Labels: P-web, semver-norelease

#1867 optimize Resource and Scope service call
  src/resource.rs
  src/scope.rs
Labels: P-web, semver-norelease

#1870 optimize ServiceRequest methods
  src/app_service.rs
  src/request.rs
  src/service.rs
Labels: P-web, semver-norelease

#1864 use ByteString as container for websocket text message
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/ws/codec.rs
  actix-http/src/ws/mod.rs
  actix-http/src/ws/proto.rs
  actix-http/tests/test_ws.rs
  actix-web-actors/CHANGES.md
  actix-web-actors/Cargo.toml
  actix-web-actors/src/ws.rs
  actix-web-actors/tests/test_ws.rs
  awc/src/lib.rs
  awc/src/ws.rs
  awc/tests/test_ws.rs
Labels: P-actors, P-http, semver-major

#1871 optimize message pool release
  actix-http/src/message.rs
Labels: P-http, semver-norelease

#1872 clean up body type
  actix-http/src/body.rs
Labels: P-http, semver-norelease

#1865 add Compat middleware
  CHANGES.md
  src/middleware/compat.rs
  src/middleware/condition.rs
  src/middleware/mod.rs
Labels: P-web, semver-minor

#1877 refactor app_service
  src/app.rs
  src/app_service.rs
Labels: P-web, semver-norelease

#1876 replace cloneable service with httpflow abstraction
  actix-http/src/cloneable.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/service.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/h2/service.rs
  actix-http/src/lib.rs
  actix-http/src/service.rs
Labels: P-http, semver-norelease

#1880 fix bug where upgrade future is not reset properly
  actix-http/src/body.rs
  actix-http/src/h1/service.rs
  actix-http/src/service.rs
Labels: P-http, semver-patch

#1882 fix extra branch in h1 dispatcher timer
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1884 remove copyless dependency
  actix-http/Cargo.toml
  actix-http/src/message.rs
Labels: P-http, semver-norelease

#1888 don't run awc doctests that rely on external public endpoints
  awc/src/lib.rs
  awc/src/ws.rs
Labels: P-awc, semver-norelease

#1891 use sync method on Responder trait
  CHANGES.md
  Cargo.toml
  actix-files/src/named.rs
  actix-files/src/service.rs
  benches/responder.rs
  src/handler.rs
  src/responder.rs
  src/types/either.rs
  src/types/form.rs
  src/types/json.rs
Labels: P-files, P-web, semver-major

#1883 refactor Resource
  src/resource.rs
Labels: P-web, semver-norelease

#1896 remove leaked box in REQUEST_POOL and RESPONSE_POOL
  actix-http/src/message.rs
Labels: P-http, semver-norelease

#1878 remove actix-threadpool.use actix_rt::task::spawn_blocking
  CHANGES.md
  Cargo.toml
  actix-files/Cargo.toml
  actix-files/src/chunked.rs
  actix-files/src/lib.rs
  actix-http-test/Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/encoding/decoder.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/error.rs
  actix-multipart/Cargo.toml
  actix-web-actors/Cargo.toml
  actix-web-codegen/Cargo.toml
  awc/Cargo.toml
  src/web.rs
Labels: P-files, P-http, P-web, semver-minor

#1895 refactor Scope
  src/app_service.rs
  src/scope.rs
Labels: P-web, semver-norelease

#1889 use a non leak pool for HttpRequestInner
  src/app_service.rs
  src/config.rs
  src/request.rs
  src/server.rs
  src/test.rs
Labels: P-web, semver-norelease

#1899 simplify h1 dispatcher
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1893 Refactor/service request
  CHANGES.md
  src/app_service.rs
  src/request.rs
  src/service.rs
  src/test.rs
Labels: P-web, semver-major

#1900 Refactor h1 encoder
  actix-http/src/h1/encoder.rs
Labels: P-http, semver-norelease

#1902 optimize ErrorHandler middleware
  src/middleware/err_handlers.rs
Labels: P-web, semver-norelease

#1906 implement `App::data` as `App::app_data(Data::new(T)))`
  CHANGES.md
  src/app.rs
  src/app_service.rs
  src/config.rs
  src/data.rs
  src/resource.rs
  src/scope.rs
  src/service.rs
Labels: P-web, semver-major

#1901 Refactor poll_keepalive for readability
  actix-http/src/h1/dispatcher.rs
Labels: P-http, semver-norelease

#1912 revive commented out tests
  actix-http/CHANGES.md
  actix-http/src/header/common/content_encoding.rs
  awc/Cargo.toml
  awc/tests/test_client.rs
  awc/tests/test_rustls_client.rs
  src/middleware/compress.rs
  tests/test_server.rs
Labels: P-http, semver-minor

#1903 Remove HttpResponseBuilder::json2()
  actix-http/CHANGES.md
  actix-http/src/response.rs
  src/test.rs
Labels: P-web, semver-major

#1923 Improve documentation for PayloadConfig
  src/types/payload.rs
Labels: P-web, semver-norelease

#1938 fix limit not working on HttpMessageBody::limit
  src/types/payload.rs
Labels: P-web, semver-patch
