Repository actix/actix-web, pull requests merged in 2021-03, with the labels that each got.

#2042 update to actix-0.11.0-beta.3 for actix-web-actors
  actix-web-actors/Cargo.toml
  actix-web-actors/src/context.rs
  actix-web-actors/src/ws.rs
Labels: P-actors, semver-major

#1934 Add "name" attribute to route macro
  actix-web-codegen/CHANGES.md
  actix-web-codegen/src/lib.rs
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/test_macro.rs
Labels: P-codegen, semver-minor

#2034 fix h2 tests
  actix-http/Cargo.toml
  actix-http/tests/test_openssl.rs
  actix-http/tests/test_rustls.rs
Labels: P-web, semver-norelease

#2043 make actix_http::ws::Codec::new const
  actix-http/src/ws/codec.rs
Labels: P-http, semver-norelease

#2049 fix h1 client for handling expect header request
  actix-http/src/client/h1proto.rs
  actix-http/tests/test_client.rs
Labels: P-http, semver-norelease

#2050 use iota for more content-length insertions
  actix-http/src/client/h2proto.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/response.rs
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/request.rs
  awc/tests/test_client.rs
Labels: P-awc, P-http, semver-major

#2051 remove localwaker from h1::payload
  actix-http/src/h1/payload.rs
Labels: P-http, semver-norelease

#2052 json method receives plain serialize
  actix-http/CHANGES.md
  actix-http/src/response.rs
  src/data.rs
  src/types/form.rs
  src/types/json.rs
Labels: P-http, P-web, semver-minor

#2053 Refactor/client builder
  awc/CHANGES.md
  awc/src/builder.rs
  awc/src/lib.rs
  awc/src/middleware/redirect.rs
Labels: P-awc, semver-norelease

#2057 remove ka timer from h2 dispatcher
  actix-http/src/h2/dispatcher.rs
  actix-http/src/h2/service.rs
  actix-http/src/service.rs
Labels: P-http, semver-norelease

#2063 simplify connector generic type
  actix-http/CHANGES.md
  actix-http/src/client/connector.rs
  awc/src/builder.rs
  awc/src/lib.rs
Labels: P-awc, P-http, semver-major

#2067 Fix logger middleware properly escape %%
  CHANGES.md
  src/middleware/logger.rs
Labels: P-web, semver-patch

#2071 change behavior of default upgrade handler
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/upgrade.rs
  src/server.rs
Labels: P-http, P-web, semver-norelease

#2069 refactor actix_http::helpers to generic over bufmut trait
  actix-http/src/helpers.rs
Labels: P-http, semver-norelease

#2076 fix awc readme example
  awc/README.md
Labels: P-awc, semver-norelease

#2072 Remove ConnectionLifetime trait. Simplify Acquired handling
  actix-http/src/client/connection.rs
  actix-http/src/client/h1proto.rs
  actix-http/src/client/h2proto.rs
  actix-http/src/client/pool.rs
  actix-http/src/h1/expect.rs
  actix-http/src/h1/upgrade.rs
  src/app_service.rs
  src/resource.rs
  src/scope.rs
Labels: P-http, semver-norelease

#2079 rename client io trait. reduce duplicate code
  actix-http/src/client/connection.rs
  actix-http/src/client/connector.rs
  actix-http/src/client/mod.rs
  awc/src/connect.rs
Labels: P-awc, P-http, semver-norelease

#2084 fix routes in Path documentation
  src/types/path.rs
Labels: P-web, semver-norelease

#2081 refactor actix_http connection types and connector services
  actix-http/CHANGES.md
  actix-http/src/client/config.rs
  actix-http/src/client/connection.rs
  actix-http/src/client/connector.rs
  actix-http/src/client/h1proto.rs
  actix-http/src/client/h2proto.rs
  actix-http/src/client/mod.rs
  actix-http/src/client/pool.rs
  awc/CHANGES.md
  awc/src/builder.rs
  awc/src/connect.rs
  awc/src/frozen.rs
  awc/src/lib.rs
  awc/src/middleware/redirect.rs
  awc/src/request.rs
  awc/src/ws.rs
Labels: P-awc, P-http, semver-major

#2087 Format extract macro
  src/extract.rs
Labels: P-web, semver-norelease

#2088 fix clippy warning on nightly
  actix-files/src/service.rs
  actix-http/src/client/connection.rs
  actix-http/src/config.rs
  actix-http/src/header/shared/entity.rs
  actix-http/src/header/shared/extended.rs
  src/config.rs
  src/lib.rs
  src/middleware/compress.rs
  src/resource.rs
  src/test.rs
  tests/test_httpserver.rs
Labels: P-http, P-web, semver-norelease

#2092 Update to socket2 v0.4
  Cargo.toml
  actix-http-test/Cargo.toml
  actix-http-test/src/lib.rs
  src/server.rs
  src/test.rs
Labels: P-web, semver-patch

#2086 Simplify handler factory macro
  src/handler.rs
Labels: P-web, semver-norelease

#2093 handle header error with CustomResponder
  CHANGES.md
  src/responder.rs
Labels: P-web, semver-major

#2108 Simplify service factory macro
  src/service.rs
Labels: P-web, semver-norelease

#2110 Relax MessageBody limit to 2048kb
  awc/src/response.rs
Labels: P-awc, semver-patch

#2116 fix awc compress feature
  actix-http/Cargo.toml
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/request.rs
Labels: P-awc, semver-patch

#2113 fix broken pipe for h2 when client is instantly dropped
  actix-http/src/client/connection.rs
Labels: P-http, semver-patch

#2117 Refactor actix_http::h1::service
  actix-http/src/h1/service.rs
Labels: P-http, semver-norelease

#2118 Refactor actix_http::h2::service module. Reduce loc.
  actix-http/src/h2/service.rs
Labels: P-http, semver-norelease

#2124 Fix typo in CHANGES.md
  actix-http/CHANGES.md
Labels: P-meta, semver-norelease

#2122 Fix build for next actix-tls-beta release
  Cargo.toml
  actix-files/Cargo.toml
  actix-http-test/Cargo.toml
  actix-http/Cargo.toml
  actix-http/src/client/connector.rs
  actix-multipart/Cargo.toml
  actix-web-actors/Cargo.toml
  actix-web-codegen/Cargo.toml
  awc/Cargo.toml
  awc/src/builder.rs
Labels: P-http, semver-major

#2126 merge H1ServiceHandler requests into HttpServiceHandler
  actix-http/src/h1/service.rs
  actix-http/src/service.rs
Labels: P-http, semver-norelease

#2129 Simplify lifetime annotation in HttpServiceBuilder. Simplify PlStream
  actix-http/src/builder.rs
  actix-http/src/client/h1proto.rs
Labels: P-http, semver-norelease

#2114 add Client::headers
  awc/CHANGES.md
  awc/src/lib.rs
Labels: P-awc, semver-minor
