Repository actix/actix-web, pull requests merged in 2021-12, with the labels that each got.

#2480 wrap `LanguageTags` type in new `AnyOrSome` type to support wildcards
  CHANGES.md
  actix-http/src/header/mod.rs
  actix-http/src/header/shared/quality_item.rs
  actix-http/src/header/utils.rs
  src/http/header/accept.rs
  src/http/header/accept_language.rs
  src/http/header/macros.rs
  src/http/header/mod.rs
  src/http/header/preference.rs
Labels: semver-major, P-web

#2481 improve typed header macro
  actix-http/src/header/shared/charset.rs
  actix-http/src/header/shared/extended.rs
  actix-http/src/header/shared/http_date.rs
  actix-http/src/header/shared/quality_item.rs
  actix-web-codegen/src/lib.rs
  src/http/header/accept.rs
  src/http/header/accept_charset.rs
  src/http/header/accept_encoding.rs
  src/http/header/accept_language.rs
  src/http/header/allow.rs
  src/http/header/any_or_some.rs
  src/http/header/cache_control.rs
  src/http/header/content_disposition.rs
  src/http/header/content_language.rs
  src/http/header/content_range.rs
  src/http/header/content_type.rs
  src/http/header/date.rs
  src/http/header/entity.rs
  src/http/header/etag.rs
  src/http/header/expires.rs
  src/http/header/if_match.rs
  src/http/header/if_modified_since.rs
  src/http/header/if_none_match.rs
  src/http/header/if_range.rs
  src/http/header/if_unmodified_since.rs
  src/http/header/last_modified.rs
  src/http/header/macros.rs
  src/http/header/mod.rs
  src/http/header/range.rs
Labels: P-web, semver-norelease

#2482 re-instate accept-encoding typed header
  CHANGES.md
  actix-http/src/header/shared/quality_item.rs
  actix-http/src/header/utils.rs
  scripts/ci-test
  src/http/header/accept.rs
  src/http/header/accept_encoding.rs
  src/http/header/accept_language.rs
  src/http/header/cache_control.rs
  src/http/header/encoding.rs
  src/http/header/macros.rs
  src/http/header/mod.rs
Labels: semver-minor, P-web

#2483 Use cilent time out for h2 handshake timeout.
  actix-http/CHANGES.md
  actix-http/src/h2/dispatcher.rs
  actix-http/src/h2/mod.rs
  actix-http/src/h2/service.rs
  actix-http/src/service.rs
  actix-http/tests/test_h2_ping_pong.rs
  actix-http/tests/test_h2_timer.rs
Labels: P-http, semver-minor

#2484 undeprecate `App::data_factory`
  CHANGES.md
  src/app.rs
Labels: P-web, semver-norelease

#1920 Add `WsResponseBuilder` to build web socket session response
  actix-http/CHANGES.md
  actix-http/src/ws/codec.rs
  actix-web-actors/CHANGES.md
  actix-web-actors/src/ws.rs
  actix-web-actors/tests/test_ws.rs
Labels: semver-minor, P-actors

#2485 re-instate Range typed header
  CHANGES.md
  src/http/header/mod.rs
  src/http/header/range.rs
Labels: semver-minor, P-web

#2486 `Quality` / `QualityItem` improvements
  .cargo/config.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/benches/quality-value.rs
  actix-http/src/header/mod.rs
  actix-http/src/header/shared/extended.rs
  actix-http/src/header/shared/mod.rs
  actix-http/src/header/shared/quality.rs
  actix-http/src/header/shared/quality_item.rs
  actix-http/src/header/utils.rs
  actix-multipart/src/server.rs
  src/http/header/accept.rs
  src/http/header/accept_charset.rs
  src/http/header/accept_encoding.rs
  src/http/header/accept_language.rs
  src/http/header/content_language.rs
Labels: semver-major, P-http, P-web

#2430 disallow query or fragements in `url_for` constructions
  CHANGES.md
  src/error/mod.rs
  src/request.rs
  src/rmap.rs
Labels: semver-patch, P-web

#2488 remove `actix_http::http` module
  actix-files/src/named.rs
  actix-http-test/src/lib.rs
  actix-http/CHANGES.md
  actix-http/src/encoding/decoder.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/h1/decoder.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/header/map.rs
  actix-http/src/lib.rs
  actix-http/src/response.rs
  actix-http/src/response_builder.rs
  actix-http/tests/test_client.rs
  actix-http/tests/test_openssl.rs
  actix-http/tests/test_rustls.rs
  actix-http/tests/test_server.rs
  actix-test/src/lib.rs
  actix-web-actors/src/ws.rs
  awc/src/builder.rs
  awc/src/client/error.rs
  awc/src/client/h1proto.rs
  awc/src/error.rs
  awc/src/frozen.rs
  awc/src/lib.rs
  awc/src/middleware/redirect.rs
  awc/src/request.rs
  awc/src/response.rs
  awc/src/sender.rs
  awc/src/test.rs
  awc/src/ws.rs
  awc/tests/test_client.rs
  src/app.rs
  src/extract.rs
  src/guard.rs
  src/http/header/allow.rs
  src/http/header/macros.rs
  src/http/header/mod.rs
  src/http/mod.rs
  src/middleware/compress.rs
  src/middleware/condition.rs
  src/middleware/default_headers.rs
  src/middleware/err_handlers.rs
  src/middleware/logger.rs
  src/middleware/normalize.rs
  src/request.rs
  src/resource.rs
  src/responder.rs
  src/response/builder.rs
  src/response/http_codes.rs
  src/response/response.rs
  src/route.rs
  src/scope.rs
  src/service.rs
  src/test.rs
  src/types/query.rs
  src/web.rs
  tests/test_server.rs
Labels: semver-major, P-awc, P-http, P-web

#2489 workaround rustdoc bug for Error
  src/error/mod.rs
Labels: P-http, semver-norelease

#2493 remove generic body type in App.
  src/app.rs
Labels: B-semver-major, A-web

#2492 enable scope middleware with generic res body.
  CHANGES.md
  src/middleware/compat.rs
  src/scope.rs
Labels: B-semver-major, A-web

#2487 Remove extensions from head
  CHANGES.md
  actix-http/CHANGES.md
  actix-http/examples/hello-world.rs
  actix-http/src/extensions.rs
  actix-http/src/message.rs
  actix-http/src/request.rs
  src/app_service.rs
  src/info.rs
  src/request.rs
  src/request_data.rs
  src/service.rs
  src/test.rs
Labels: B-semver-major, A-http

#2497 provide optimisation path for single-chunk body types
  actix-http/CHANGES.md
  actix-http/src/body/boxed.rs
  actix-http/src/body/either.rs
  actix-http/src/body/message_body.rs
  actix-http/src/body/none.rs
  actix-http/src/encoding/encoder.rs
  actix-http/tests/test_openssl.rs
Labels: A-http, B-semver-minor

#2499 add ServiceResponse::into_parts
  CHANGES.md
  src/service.rs
Labels: B-semver-minor, A-web

#2510 align remaining header map terminology
  CHANGES.md
  actix-files/src/named.rs
  actix-http/CHANGES.md
  actix-http/src/h2/service.rs
  actix-http/src/header/as_name.rs
  actix-http/src/header/into_pair.rs
  actix-http/src/header/into_value.rs
  actix-http/src/header/map.rs
  actix-http/src/header/mod.rs
  actix-http/src/header/shared/content_encoding.rs
  actix-http/src/header/shared/http_date.rs
  actix-http/src/response.rs
  actix-http/src/response_builder.rs
  actix-http/src/test.rs
  awc/CHANGES.md
  awc/src/builder.rs
  awc/src/client/h1proto.rs
  awc/src/frozen.rs
  awc/src/lib.rs
  awc/src/middleware/redirect.rs
  awc/src/request.rs
  awc/src/sender.rs
  awc/src/test.rs
  awc/src/ws.rs
  examples/basic.rs
  examples/uds.rs
  src/app.rs
  src/error/internal.rs
  src/error/response_error.rs
  src/http/header/content_disposition.rs
  src/http/header/content_range.rs
  src/http/header/entity.rs
  src/http/header/if_range.rs
  src/http/header/macros.rs
  src/http/header/range.rs
  src/lib.rs
  src/middleware/default_headers.rs
  src/middleware/mod.rs
  src/request_data.rs
  src/resource.rs
  src/response/builder.rs
  src/response/customize_responder.rs
  src/response/mod.rs
  src/response/responder.rs
  src/scope.rs
  src/test.rs
  src/web.rs
Labels: B-semver-major, A-http, A-web

#2516 remove either crate conversions
  CHANGES.md
  Cargo.toml
  src/types/either.rs
Labels: B-semver-major, A-web

#2515 allow error handler middleware to return different body type
  CHANGES.md
  actix-router/src/url.rs
  scripts/ci-test
  src/middleware/compat.rs
  src/middleware/condition.rs
  src/middleware/err_handlers.rs
  src/middleware/mod.rs
Labels: B-semver-major, A-web

#2518 refactor testing utils
  CHANGES.md
  actix-http/src/test.rs
  actix-test/CHANGES.md
  actix-test/src/lib.rs
  src/middleware/default_headers.rs
  src/middleware/err_handlers.rs
  src/test.rs
  src/test/mod.rs
  src/test/test_request.rs
  src/test/test_services.rs
  src/test/test_utils.rs
  src/types/either.rs
  src/types/json.rs
Labels: B-semver-major, A-web

#2519 various fixes to MessageBody::complete_body
  actix-http/src/body/boxed.rs
  actix-http/src/body/message_body.rs
Labels: A-http, B-semver-patch

#2520 MessageBody::boxed
  actix-http/CHANGES.md
  actix-http/src/body/boxed.rs
  actix-http/src/body/either.rs
  actix-http/src/body/message_body.rs
  actix-http/src/response.rs
  awc/src/any_body.rs
  src/response/response.rs
  src/service.rs
Labels: A-http, B-semver-minor

#2524 remove direct dep on pin-project in -http
  actix-http/Cargo.toml
  actix-http/src/h1/dispatcher.rs
Labels: A-http, B-semver-patch

#2522 simplify MessageBody::complete_body interface
  actix-http/src/body/boxed.rs
  actix-http/src/body/either.rs
  actix-http/src/body/message_body.rs
  actix-http/src/body/none.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/h1/dispatcher.rs
  src/dev.rs
Labels: B-semver-major, A-http

#2527 http: Replace header::map::GetAll with std::slice::Iter
  actix-http/CHANGES.md
  actix-http/src/header/map.rs
  src/response/response.rs
Labels: B-semver-major, A-http

#2503 only build `SslConnectorBuilder` once
  actix-http-test/src/lib.rs
  actix-test/src/lib.rs
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/client/connector.rs
  awc/tests/test_connector.rs
  awc/tests/test_ssl_client.rs
  tests/test_httpserver.rs
Labels: A-awc, B-semver-patch

#2529 soft-deprecate `NormalizePath::default` in v3
  CHANGES.md
  Cargo.toml
  README.md
  actix-http/src/error.rs
  src/middleware/normalize.rs
Labels: B-semver-patch, A-web

#2530 split request and response modules
  actix-http/CHANGES.md
  actix-http/src/h1/client.rs
  actix-http/src/h1/codec.rs
  actix-http/src/h1/decoder.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/h1/expect.rs
  actix-http/src/h1/mod.rs
  actix-http/src/h1/upgrade.rs
  actix-http/src/h1/utils.rs
  actix-http/src/lib.rs
  actix-http/src/message.rs
  actix-http/src/payload.rs
  actix-http/src/requests/head.rs
  actix-http/src/requests/mod.rs
  actix-http/src/requests/request.rs
  actix-http/src/responses/builder.rs
  actix-http/src/responses/head.rs
  actix-http/src/responses/mod.rs
  actix-http/src/responses/response.rs
  actix-http/src/ws/mod.rs
  src/app_service.rs
Labels: A-http, B-semver-norelease

#2526 allow any body type in Resource
  CHANGES.md
  actix-http/Cargo.toml
  src/middleware/compat.rs
  src/middleware/mod.rs
  src/middleware/noop.rs
  src/resource.rs
  src/scope.rs
Labels: B-semver-minor, A-web

#2523 allow any body type in Scope
  CHANGES.md
  src/middleware/compat.rs
  src/scope.rs
Labels: B-semver-minor, A-web

#2545 relax unpin bounds on payload types
  actix-http/CHANGES.md
  actix-http/src/encoding/decoder.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/payload.rs
  actix-http/src/h1/utils.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/h2/mod.rs
  actix-http/src/lib.rs
  actix-http/src/payload.rs
  actix-http/src/requests/request.rs
  actix-http/src/test.rs
  actix-http/tests/test_rustls.rs
  actix-multipart/src/server.rs
  awc/src/client/connection.rs
  awc/src/client/h1proto.rs
  awc/src/response.rs
  awc/src/sender.rs
  awc/src/test.rs
  src/dev.rs
  src/response/builder.rs
  src/service.rs
  src/test/test_request.rs
Labels: B-semver-major, A-http

#2546 `ClientRequest::send_body` takes `impl MessageBody`
  .github/workflows/ci-master.yml
  .github/workflows/ci.yml
  awc/CHANGES.md
  awc/src/any_body.rs
  awc/src/connect.rs
  awc/src/frozen.rs
  awc/src/lib.rs
  awc/src/middleware/redirect.rs
  awc/src/request.rs
  awc/src/response.rs
  awc/src/responses/json_body.rs
  awc/src/responses/mod.rs
  awc/src/responses/read_body.rs
  awc/src/responses/response.rs
  awc/src/responses/response_body.rs
  awc/src/sender.rs
  awc/src/ws.rs
  src/guard.rs
Labels: B-semver-major, A-awc

#2543 Improve module docs for error handler middleware
  src/middleware/err_handlers.rs
Labels: A-web, B-semver-norelease

#2549 rework Handler trait
  src/handler.rs
  src/resource.rs
  src/route.rs
  src/web.rs
Labels: B-semver-major, A-web

#2552 rework `Guard` trait
  CHANGES.md
  actix-files/src/service.rs
  actix-http/src/message.rs
  src/app_service.rs
  src/dev.rs
  src/guard.rs
  src/middleware/normalize.rs
  src/route.rs
  src/scope.rs
  src/service.rs
  src/test/test_request.rs
Labels: B-semver-major, A-web

#2553 use modern signatures for awc `send_*` and `header` methods
  awc/CHANGES.md
  awc/src/any_body.rs
  awc/src/frozen.rs
  awc/src/middleware/redirect.rs
  awc/src/request.rs
  awc/src/responses/response.rs
  awc/src/sender.rs
Labels: B-semver-major, A-awc

#2554 never return port in `realip_remote_addr`
  CHANGES.md
  src/config.rs
  src/info.rs
  src/middleware/logger.rs
  src/request.rs
Labels: B-semver-patch, A-web

#2555 Upgrade time dependency (via `cookie`)
  CHANGES.md
  Cargo.toml
  awc/CHANGES.md
  awc/Cargo.toml
Labels: B-semver-major, A-awc, A-web
