Repository actix/actix-web, pull requests merged in 2021-06, with the labels that each got.

#2243 Additional test coverage and tidyup (middleware::normalize)
  src/middleware/normalize.rs
Labels: P-web, semver-norelease

#2244 Add zstd ContentEncoding support
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/encoding/decoder.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/header/shared/content_encoding.rs
  tests/test_server.rs
Labels: P-http, semver-minor

#2247 Add information about Actix discord server
  src/lib.rs
Labels: P-web, semver-norelease

#2246 Don't normalize URIs with no valid path
  CHANGES.md
  src/middleware/normalize.rs
Labels: P-web, semver-patch

#2252 add Seal argument to sealed AsHeaderName methods
  actix-http/src/header/as_name.rs
  actix-http/src/header/map.rs
Labels: P-http, semver-patch

#2255 Deduplicate rt::main macro logic
  Cargo.toml
  actix-web-codegen/src/lib.rs
Labels: P-codegen, semver-patch

#2258 clarify docs for BodyEncoding::encoding()
  actix-files/src/named.rs
  src/lib.rs
Labels: P-files, P-web, semver-norelease

#2226 Extends Rustls ALPN protocols instead of replacing them when creating Rustls based services
  CHANGES.md
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/h2/service.rs
  actix-http/src/service.rs
  actix-http/tests/test_rustls.rs
  src/server.rs
Labels: P-http, semver-patch

#2162 Adjust JSON limit to 2MB and report on sizes
  CHANGES.md
  src/error/mod.rs
  src/types/json.rs
Labels: P-web, semver-major

#2257 files: inline disposition for common web app file types
  actix-files/CHANGES.md
  actix-files/src/lib.rs
  actix-files/src/named.rs
  actix-files/tests/test.js
Labels: P-files, semver-patch

#2266 beta.7 releases
  CHANGES.md
  Cargo.toml
  README.md
  actix-files/CHANGES.md
  actix-files/Cargo.toml
  actix-files/README.md
  actix-http-test/Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/README.md
  actix-multipart/CHANGES.md
  actix-multipart/Cargo.toml
  actix-multipart/README.md
  actix-test/Cargo.toml
  actix-web-actors/CHANGES.md
  actix-web-actors/Cargo.toml
  actix-web-actors/README.md
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/README.md
  awc/CHANGES.md
  awc/Cargo.toml
  awc/README.md
Labels: P-meta

#2250 Select compression algorithm using features flags
  CHANGES.md
  Cargo.toml
  MIGRATION.md
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/encoding/decoder.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/lib.rs
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/request.rs
  awc/src/sender.rs
  src/http/header/encoding.rs
  src/lib.rs
  src/middleware/compat.rs
  src/middleware/mod.rs
  src/types/form.rs
  src/types/json.rs
  src/types/payload.rs
Labels: P-awc, P-http, P-web, semver-major

#2228 files: allow `show_files_listing()` with `index_file()`
  actix-files/CHANGES.md
  actix-files/src/files.rs
  actix-files/src/lib.rs
  actix-files/src/service.rs
Labels: P-files, semver-patch

#2277 chore: bump actix to 0.12.0 in actix-web-actors
  actix-web-actors/CHANGES.md
  actix-web-actors/Cargo.toml
Labels: P-actors, semver-major

#2271 deprecate `App::data` and `App::data_factory`
  CHANGES.md
  src/app.rs
  src/app_service.rs
  src/data.rs
  src/request.rs
  src/resource.rs
  src/scope.rs
  src/service.rs
  src/test.rs
  src/types/payload.rs
  tests/test_server.rs
Labels: P-web, semver-patch

#2263 Implement `FromRequest` for request parts
  CHANGES.md
  src/extract.rs
  src/info.rs
  src/lib.rs
Labels: P-web, semver-patch

#2280 Propagate error cause to middlewares
  src/response/response.rs
  tests/test_error_propagation.rs
Labels: P-web, semver-patch

#2177 ServiceRequest::parts_mut
  CHANGES.md
  src/service.rs
Labels: P-web, semver-minor

#2283 Note that Form cannot require data ordering
  src/types/form.rs
Labels: P-web, semver-norelease

#2284 try to fix doc test failures
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/clippy-fmt.yml
  tests/test_server.rs
Labels: P-meta

#2262 `Route::service`
  CHANGES.md
  Cargo.toml
  src/extract.rs
  src/lib.rs
  src/request.rs
  src/route.rs
Labels: P-web, semver-patch

#2291 Remove downcast macro from actix-http
  actix-http/CHANGES.md
  actix-http/src/lib.rs
  actix-http/src/macros.rs
Labels: P-http, semver-major

#2290 Don't leak internal macros
  src/error/macros.rs
  src/error/mod.rs
  src/error/response_error.rs
  src/http/header/accept.rs
  src/http/header/accept_charset.rs
  src/http/header/accept_encoding.rs
  src/http/header/accept_language.rs
  src/http/header/allow.rs
  src/http/header/cache_control.rs
  src/http/header/content_language.rs
  src/http/header/content_range.rs
  src/http/header/content_type.rs
  src/http/header/date.rs
  src/http/header/etag.rs
  src/http/header/expires.rs
  src/http/header/if_match.rs
  src/http/header/if_modified_since.rs
  src/http/header/if_none_match.rs
  src/http/header/if_range.rs
  src/http/header/if_unmodified_since.rs
  src/http/header/last_modified.rs
  src/http/header/macros.rs
  src/http/header/mod.rs
Labels: P-http, semver-norelease

#2289 Remove duplicated step from CI workflow
  .github/workflows/ci.yml
Labels: P-meta

#2288 fix scope and resource middleware data access
  CHANGES.md
  src/app.rs
  src/app_service.rs
  src/config.rs
  src/resource.rs
  src/scope.rs
Labels: P-web, semver-patch

#2274 files: file path filtering closure
  actix-files/CHANGES.md
  actix-files/src/files.rs
  actix-files/src/lib.rs
  actix-files/src/service.rs
Labels: P-files, semver-minor

#2282 simplify `ConnectionInfo::new`
  .github/workflows/ci.yml
  CHANGES.md
  Cargo.toml
  src/config.rs
  src/info.rs
  src/test.rs
Labels: P-web, semver-patch

#2281 Various refactorings
  .gitignore
  CHANGES.md
  actix-files/src/named.rs
  actix-http/benches/uninit-headers.rs
  actix-http/src/client/connector.rs
  actix-http/src/client/h2proto.rs
  actix-http/src/config.rs
  actix-http/src/error.rs
  actix-http/src/h1/decoder.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/payload.rs
  actix-http/src/header/map.rs
  actix-http/src/message.rs
  actix-web-codegen/src/route.rs
  awc/src/request.rs
  awc/src/ws.rs
  benches/responder.rs
  benches/service.rs
  src/app_service.rs
  src/http/header/content_disposition.rs
  src/middleware/compress.rs
  src/request.rs
  src/resource.rs
  src/response/builder.rs
  src/server.rs
  src/service.rs
  src/types/form.rs
  src/types/path.rs
  src/types/payload.rs
  src/types/query.rs
Labels: P-awc, P-codegen, P-files, P-http, P-web, semver-patch

#2292 prepare beta.8 releases
  .github/ISSUE_TEMPLATE/config.yml
  CHANGES.md
  Cargo.toml
  README.md
  actix-files/CHANGES.md
  actix-files/Cargo.toml
  actix-files/README.md
  actix-http-test/Cargo.toml
  actix-http-test/README.md
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/README.md
  actix-multipart/Cargo.toml
  actix-multipart/README.md
  actix-test/Cargo.toml
  actix-web-actors/CHANGES.md
  actix-web-actors/Cargo.toml
  actix-web-actors/README.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/README.md
  awc/CHANGES.md
  awc/Cargo.toml
  awc/README.md
  src/lib.rs
Labels: P-meta

#2293 Move dev module to separate file, update description
  src/dev.rs
  src/lib.rs
Labels: P-web, semver-norelease
