Repository actix/actix-web, pull requests merged in 2022-02, with the labels that each got.

#2619 add macro feature
  .cargo/config.toml
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/examples/macroless.rs
  actix-web/src/app.rs
  actix-web/src/lib.rs
  actix-web/src/rt.rs
  actix-web/src/service.rs
Labels: B-semver-major, A-web

#2621 Fix deprecated notice about client_shutdown
  actix-web/src/server.rs
Labels: A-web, B-semver-norelease

#2624 fix stuck connection when handler doesn't read payload
  actix-http/CHANGES.md
  actix-http/src/error.rs
  actix-http/src/h1/codec.rs
  actix-http/src/h1/decoder.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/dispatcher_tests.rs
Labels: A-http, B-semver-patch

#2625 RC refinements
  actix-http/CHANGES.md
  actix-http/src/config.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/responses/response.rs
  actix-web/CHANGES.md
  actix-web/src/http/mod.rs
  actix-web/src/response/responder.rs
Labels: A-http, B-semver-minor, A-web

#2634 added note to v4 migration guide about worker thread update
  actix-web/MIGRATION-4.0.md
Labels: B-semver-norelease

#2635 make `Condition` generic over body type
  actix-web/CHANGES.md
  actix-web/src/middleware/condition.rs
Labels: B-semver-minor, A-web

#2639 Remove clone implementation for `Path`
  actix-web/src/types/path.rs
Labels: B-semver-patch, A-web

#2653 Fix links in README
  actix-web/README.md
Labels: B-semver-norelease

#2654 Edits to the migration notes
  actix-web/MIGRATION-4.0.md
Labels: B-semver-norelease

#2659 rename simple_service to status_service
  actix-test/src/lib.rs
  actix-web/CHANGES.md
  actix-web/src/middleware/err_handlers.rs
  actix-web/src/test/mod.rs
  actix-web/src/test/test_services.rs
Labels: B-semver-minor, A-web

#2658 prepare actix-router release 0.5.0
  actix-router/CHANGES.md
  actix-router/Cargo.toml
  actix-web-codegen/Cargo.toml
  actix-web/Cargo.toml
Labels: B-semver-major, A-router

#2663 prepare releases: actix-http 3.0.0 and actix-web 4.0.0
  CHANGES.md
  actix-files/Cargo.toml
  actix-http-test/Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/README.md
  actix-multipart/Cargo.toml
  actix-test/Cargo.toml
  actix-web-actors/Cargo.toml
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/README.md
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/MIGRATION-4.0.md
  actix-web/README.md
  actix-web/src/dev.rs
  actix-web/src/web.rs
  awc/Cargo.toml
Labels: B-semver-major, A-http, A-web
