Repository actix/actix-web, pull requests merged in 2022-09, with the labels that each got.

#2871 fix -http version to 3.2.2
  actix-web/CHANGES.md
  actix-web/Cargo.toml
Labels: B-semver-patch, A-web

#2867 add `ContentDisposition::attachment` constructor
  actix-web/CHANGES.md
  actix-web/src/http/header/content_disposition.rs
Labels: B-semver-minor, A-web

#2868 implement MessageBody for mut B
  actix-http/CHANGES.md
  actix-http/src/body/message_body.rs
Labels: A-http, B-semver-minor

#2784 Add ability to set default error handlers to the `ErrorHandler` middleware
  actix-web/CHANGES.md
  actix-web/src/middleware/err_handlers.rs
Labels: B-semver-minor, A-web

#2876 Fix typo in error string for i32 parse in router deserialization
  actix-router/CHANGES.md
  actix-router/src/de.rs
Labels: B-semver-patch, A-router

#2884 Remove unnecesary clones in extractor configs
  actix-web/src/types/json.rs
  actix-web/src/types/payload.rs
Labels: A-web, B-semver-norelease

#2888 update derive_more dependency to 0.99.8
  actix-web/Cargo.toml
Labels: B-semver-patch, A-web

#2885 Fix actix-multipart field content_type() to return an Option
  actix-multipart/CHANGES.md
  actix-multipart/src/server.rs
Labels: B-semver-major, A-multipart

#2890 use noop hasher in extensions
  actix-http/CHANGES.md
  actix-http/src/extensions.rs
Labels: A-http, B-semver-norelease

#2891 rust 1.64 clippy run
  actix-files/src/service.rs
  actix-http/src/body/message_body.rs
  actix-http/src/body/utils.rs
  actix-http/src/h1/dispatcher_tests.rs
  actix-http/src/header/map.rs
  actix-http/src/requests/request.rs
  actix-http/src/responses/response.rs
  actix-http/src/ws/frame.rs
  actix-http/src/ws/proto.rs
  actix-http/tests/test_rustls.rs
  actix-multipart/src/server.rs
  actix-router/src/path.rs
  actix-router/src/resource.rs
  actix-web/src/app.rs
  actix-web/src/app_service.rs
  actix-web/src/config.rs
  actix-web/src/http/header/cache_control.rs
  actix-web/src/request.rs
  actix-web/src/response/builder.rs
  actix-web/src/rmap.rs
  actix-web/src/scope.rs
  awc/src/client/pool.rs
  awc/src/ws.rs
  awc/tests/test_client.rs
Labels: A-meta, B-semver-norelease

#2631 add `middleware::logger::custom_response_replace`
  actix-web/CHANGES.md
  actix-web/src/middleware/logger.rs
Labels: B-semver-minor, A-web
