Repository actix/actix-web, pull requests merged in 2022-01, with the labels that each got.

#2501 Fix AcceptEncoding header
  .github/workflows/bench.yml
  CHANGES.md
  actix-files/src/named.rs
  actix-http/CHANGES.md
  actix-http/src/encoding/decoder.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/error.rs
  actix-http/src/header/map.rs
  actix-http/src/header/mod.rs
  actix-http/src/header/shared/content_encoding.rs
  actix-http/src/header/shared/quality.rs
  actix-http/src/header/shared/quality_item.rs
  awc/tests/test_client.rs
  scripts/ci-test
  src/dev.rs
  src/http/header/accept.rs
  src/http/header/accept_charset.rs
  src/http/header/accept_encoding.rs
  src/http/header/accept_language.rs
  src/http/header/content_disposition.rs
  src/http/header/encoding.rs
  src/middleware/compress.rs
  src/types/mod.rs
  src/types/payload.rs
  src/web.rs
  tests/compression.rs
  tests/fixtures/lorem.txt
  tests/fixtures/lorem.txt.br
  tests/fixtures/lorem.txt.gz
  tests/fixtures/lorem.txt.xz
  tests/fixtures/lorem.txt.zst
  tests/test_server.rs
  tests/test_utils.rs
Labels: B-semver-major, A-web

#2565 remove `BodyEncoding` trait
  .github/workflows/clippy-fmt.yml
  CHANGES.md
  actix-files/src/lib.rs
  actix-files/src/named.rs
  actix-http/CHANGES.md
  actix-http/src/header/map.rs
  actix-http/src/header/mod.rs
  actix-http/src/header/shared/content_encoding.rs
  awc/Cargo.toml
  awc/tests/test_client.rs
  awc/tests/utils.rs
  src/dev.rs
  src/http/header/entity.rs
  src/http/header/etag.rs
  src/http/header/if_match.rs
  src/http/header/if_none_match.rs
  src/middleware/compress.rs
  tests/compression.rs
  tests/test_server.rs
  tests/utils.rs
Labels: B-semver-major, A-web

#2398 files: percent-decode url path
  actix-files/CHANGES.md
  actix-files/Cargo.toml
  actix-files/src/error.rs
  actix-files/src/files.rs
  actix-files/src/lib.rs
  actix-files/src/path_buf.rs
Labels: A-files, B-semver-patch

#2566 fully percent decode path segments when capturing
  actix-router/CHANGES.md
  actix-router/src/de.rs
  src/types/path.rs
Labels: B-semver-patch, A-router

#2568 simplify Resource trait
  actix-router/CHANGES.md
  actix-router/src/path.rs
  actix-router/src/resource.rs
  actix-router/src/resource_path.rs
  actix-router/src/router.rs
  src/service.rs
Labels: B-semver-major, A-router

#2567 generalize impl Responder for HttpResponse
  CHANGES.md
  Cargo.toml
  src/response/builder.rs
  src/response/customize_responder.rs
  src/response/responder.rs
  src/response/response.rs
Labels: B-semver-minor, A-web

#2570 optimize PathDeserializer
  actix-router/src/de.rs
Labels: B-semver-patch, A-router

#1988 Add `ServiceConfig::configure`
  CHANGES.md
  src/config.rs
Labels: B-semver-minor, A-web

#2572 unify generics across App, Scope and Resource
  src/app.rs
  src/middleware/compat.rs
  src/middleware/mod.rs
  src/resource.rs
  src/scope.rs
Labels: B-semver-major, A-web

#2583 update tokio-uring to 0.2
  Cargo.toml
  actix-files/CHANGES.md
  actix-files/Cargo.toml
  actix-files/src/chunked.rs
  actix-files/src/lib.rs
  actix-files/src/named.rs
  actix-files/src/service.rs
  actix-files/tests/encoding.rs
Labels: A-files, B-semver-minor, A-web

#2581 convert error in `Result` extractor
  CHANGES.md
  src/extract.rs
Labels: B-semver-minor, A-web

#2584 support opaque app in test helpers
  CHANGES.md
  src/test/test_utils.rs
Labels: B-semver-patch, A-web

#2538 migrate to `brotli` crate
  Cargo.toml
  actix-http/Cargo.toml
  actix-http/src/encoding/decoder.rs
  actix-http/src/encoding/encoder.rs
  awc/Cargo.toml
  awc/tests/utils.rs
  tests/utils.rs
Labels: A-http, B-semver-patch

#2587 allow camel case response headers
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/h1/encoder.rs
  actix-http/src/responses/head.rs
Labels: A-http, B-semver-minor

#2585 move response extensions out of head
  CHANGES.md
  actix-http/CHANGES.md
  actix-http/examples/echo.rs
  actix-http/examples/echo2.rs
  actix-http/src/error.rs
  actix-http/src/http_message.rs
  actix-http/src/message.rs
  actix-http/src/requests/head.rs
  actix-http/src/requests/request.rs
  actix-http/src/responses/builder.rs
  actix-http/src/responses/head.rs
  actix-http/src/responses/response.rs
  awc/src/responses/response.rs
  scripts/bump
  src/app_service.rs
  src/guard.rs
  src/request.rs
  src/request_data.rs
  src/response/builder.rs
  src/response/response.rs
  src/service.rs
Labels: B-semver-major, A-http, A-web

#2586 add `HttpResponse::add_removal_cookie`
  CHANGES.md
  src/response/response.rs
Labels: B-semver-minor, A-web

#2590 deprecate `Path::path`
  actix-files/src/path_buf.rs
  actix-files/src/service.rs
  actix-router/CHANGES.md
  actix-router/src/path.rs
  actix-router/src/resource.rs
  actix-router/src/url.rs
  src/service.rs
Labels: B-semver-minor, A-router

#2591 remove ambiguous `HttpResponseBuilder::del_cookie`
  CHANGES.md
  Cargo.toml
  src/response/builder.rs
  tests/test_server.rs
Labels: B-semver-major, A-web

#2601 remove impl Future for HttpResponse
  CHANGES.md
  actix-files/src/lib.rs
  actix-web-actors/src/context.rs
  awc/tests/test_client.rs
  benches/server.rs
  src/guard.rs
  src/middleware/compress.rs
  src/resource.rs
  src/response/response.rs
  src/types/payload.rs
  tests/compression.rs
  tests/test_httpserver.rs
  tests/test_server.rs
Labels: B-semver-major, A-web

#2616 Guard against broken intra-doc links in CI
  .github/workflows/clippy-fmt.yml
  actix-files/src/named.rs
Labels: A-web, B-semver-norelease

#2614 Improve the documentation for `default_service`
  src/app.rs
  src/resource.rs
  src/scope.rs
Labels: A-web, B-semver-norelease

#2611 fix request head timeout
  CHANGES.md
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/examples/bench.rs
  actix-http/examples/echo.rs
  actix-http/examples/h2spec.rs
  actix-http/examples/hello-world.rs
  actix-http/src/builder.rs
  actix-http/src/config.rs
  actix-http/src/date.rs
  actix-http/src/h1/client.rs
  actix-http/src/h1/codec.rs
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/dispatcher_tests.rs
  actix-http/src/h1/encoder.rs
  actix-http/src/h1/mod.rs
  actix-http/src/h1/timer.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/h2/mod.rs
  actix-http/src/header/map.rs
  actix-http/src/header/shared/http_date.rs
  actix-http/src/keep_alive.rs
  actix-http/src/lib.rs
  actix-http/src/notify_on_drop.rs
  actix-http/src/requests/head.rs
  actix-http/src/responses/head.rs
  actix-http/src/service.rs
  actix-http/src/test.rs
  actix-http/tests/test_client.rs
  actix-http/tests/test_h2_timer.rs
  actix-http/tests/test_server.rs
  actix-http/tests/test_ws.rs
  actix-test/CHANGES.md
  actix-test/src/lib.rs
  awc/src/client/h1proto.rs
  src/server.rs
  tests/test_httpserver.rs
  tests/test_server.rs
Labels: B-semver-major, A-http

#2618 add ws and http2 feature flags
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/builder.rs
  actix-http/src/config.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/error.rs
  actix-http/src/h2/dispatcher.rs
  actix-http/src/h2/service.rs
  actix-http/src/http_message.rs
  actix-http/src/keep_alive.rs
  actix-http/src/lib.rs
  actix-http/src/payload.rs
  actix-http/src/service.rs
  actix-http/src/ws/codec.rs
  actix-http/src/ws/dispatcher.rs
  actix-http/src/ws/frame.rs
  awc/Cargo.toml
Labels: B-semver-major, A-http

#2613 `Quoter::requote` returns `Vec<u8>`
  actix-router/CHANGES.md
  actix-router/src/de.rs
  actix-router/src/quoter.rs
  actix-router/src/url.rs
Labels: B-semver-major, A-router

#2612 tweak and document router
  actix-router/CHANGES.md
  actix-router/src/lib.rs
  actix-router/src/quoter.rs
  actix-router/src/resource.rs
  actix-router/src/router.rs
  src/app_service.rs
  src/scope.rs
Labels: B-semver-major, A-router
