Repository actix/actix-web, pull requests merged in 2022-07, with the labels that each got.

#2801 prepare actix-http release 3.2.0
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/README.md
Labels: A-http, B-semver-minor

#2794 fix parsing ambiguities for HTTP/1.0 requests
  actix-http/CHANGES.md
  actix-http/src/h1/decoder.rs
Labels: A-http, B-semver-patch

#2718 `routes` macro allowing multiple paths per handler
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/src/lib.rs
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/test_macro.rs
  actix-web-codegen/tests/trybuild.rs
  actix-web-codegen/tests/trybuild/routes-missing-args-fail.rs
  actix-web-codegen/tests/trybuild/routes-missing-args-fail.stderr
  actix-web-codegen/tests/trybuild/routes-missing-method-fail.rs
  actix-web-codegen/tests/trybuild/routes-missing-method-fail.stderr
  actix-web-codegen/tests/trybuild/routes-ok.rs
  actix-web/CHANGES.md
  actix-web/src/lib.rs
Labels: A-codegen, B-semver-minor

#2816 Remove some unnecessary uses of `once_cell::sync::Lazy`
  actix-http-test/Cargo.toml
  actix-http/Cargo.toml
  actix-router/Cargo.toml
  actix-web/src/info.rs
  actix-web/src/middleware/compress.rs
  awc/Cargo.toml
Labels: A-web, B-semver-norelease

#2818 derive Eq where possible
  actix-files/src/error.rs
  actix-http/src/error.rs
  actix-http/src/h1/chunked.rs
  actix-http/src/h1/decoder.rs
  actix-http/src/h1/payload.rs
  actix-http/src/header/shared/extended.rs
  actix-http/src/header/shared/quality_item.rs
  actix-http/src/message.rs
  actix-http/src/ws/codec.rs
  actix-http/src/ws/mod.rs
  actix-router/src/router.rs
  actix-web/src/error/mod.rs
  actix-web/src/http/header/content_disposition.rs
  actix-web/src/http/header/if_range.rs
  actix-web/src/http/header/macros.rs
  actix-web/src/http/header/range.rs
  actix-web/src/types/either.rs
Labels: A-http, A-web, B-semver-norelease

#2817 fix partial ranges for video content
  actix-files/CHANGES.md
  actix-files/src/named.rs
  actix-files/tests/encoding.rs
Labels: A-files, B-semver-patch
