Repository actix/actix-web, pull requests merged in 2022-04, with the labels that each got.

#2647 Add `ServiceRequest::extract`
  actix-web/CHANGES.md
  actix-web/src/extract.rs
  actix-web/src/service.rs
Labels: B-semver-minor, A-web

#2742 clear conn_data on HttpRequest drop
  actix-http/benches/uninit-headers.rs
  actix-web/CHANGES.md
  actix-web/src/request.rs
  actix-web/src/test/test_request.rs
Labels: B-semver-patch, A-web

#2725 add `Route::wrap`
  actix-http/benches/uninit-headers.rs
  actix-web/CHANGES.md
  actix-web/src/route.rs
  actix-web/tests/test_server.rs
Labels: B-semver-minor, A-web

#2734 Improve documentation for FromRequest::Future
  actix-web/src/extract.rs
Labels: A-web, B-semver-norelease

#2743 Add `ServiceConfig::default_service`
  actix-web/CHANGES.md
  actix-web/src/app.rs
  actix-web/src/config.rs
  actix-web/src/scope.rs
Labels: B-semver-minor, A-web
