Repository actix/actix-web, pull requests merged in 2022-06, with the labels that each got.

#2771 Allow a path as a guard in route handler macro
  actix-web-codegen/CHANGES.md
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/test_macro.rs
Labels: A-codegen, B-semver-patch

#2777 update msrv to 1.56
  .github/workflows/ci.yml
  actix-files/CHANGES.md
  actix-files/README.md
  actix-http-test/CHANGES.md
  actix-http-test/README.md
  actix-http/CHANGES.md
  actix-http/README.md
  actix-multipart/CHANGES.md
  actix-multipart/README.md
  actix-router/CHANGES.md
  actix-router/Cargo.toml
  actix-router/examples/flamegraph.rs
  actix-router/src/path.rs
  actix-router/src/resource.rs
  actix-router/src/router.rs
  actix-test/CHANGES.md
  actix-web-actors/CHANGES.md
  actix-web-actors/README.md
  actix-web-codegen/CHANGES.md
  actix-web-codegen/README.md
  actix-web-codegen/tests/trybuild.rs
  actix-web/CHANGES.md
  actix-web/README.md
  awc/CHANGES.md
  clippy.toml
Labels: B-semver-minor

#2780 migrate from deprecated sha-1 to sha1
  actix-http/Cargo.toml
Labels: A-http, B-semver-patch

#2779 revert broken fix in #2624
  actix-http/CHANGES.md
  actix-http/src/h1/dispatcher.rs
  actix-http/src/h1/dispatcher_tests.rs
Labels: A-http, B-semver-patch

#2781 release 4.1 group
  actix-files/CHANGES.md
  actix-files/Cargo.toml
  actix-files/README.md
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/README.md
  actix-multipart/Cargo.toml
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/README.md
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/README.md
Labels: A-files, A-codegen, A-http, A-web

#2789 Bump up MSRV to 1.57
  .github/workflows/ci.yml
  actix-files/CHANGES.md
  actix-files/README.md
  actix-http-test/CHANGES.md
  actix-http-test/README.md
  actix-http/CHANGES.md
  actix-http/README.md
  actix-multipart/CHANGES.md
  actix-multipart/README.md
  actix-router/CHANGES.md
  actix-test/CHANGES.md
  actix-web-actors/CHANGES.md
  actix-web-actors/README.md
  actix-web-codegen/CHANGES.md
  actix-web-codegen/README.md
  actix-web-codegen/tests/trybuild.rs
  actix-web-codegen/tests/trybuild/route-duplicate-method-fail.stderr
  actix-web-codegen/tests/trybuild/route-missing-method-fail.stderr
  actix-web-codegen/tests/trybuild/route-unexpected-method-fail.stderr
  actix-web/CHANGES.md
  actix-web/README.md
  awc/CHANGES.md
  clippy.toml
Labels: B-semver-minor

#2786 Add getters for `&ServiceRequest`
  actix-web/CHANGES.md
  actix-web/src/service.rs
Labels: B-semver-minor, A-web

#2790 fix unrecoverable Err(Overflow) in websocket frame parser
  actix-http/CHANGES.md
  actix-http/src/ws/frame.rs
Labels: A-http, B-semver-patch

#2793 Fix common grammar mistakes and add small documentation for AppConfig's Default implementation
  actix-web/src/app.rs
  actix-web/src/app_service.rs
  actix-web/src/config.rs
  actix-web/src/guard.rs
  actix-web/src/handler.rs
  actix-web/src/response/response.rs
Labels: A-web, B-semver-norelease

#2788 Improve documentation for `actix-web-actors`
  actix-web-actors/Cargo.toml
  actix-web-actors/src/context.rs
  actix-web-actors/src/lib.rs
  actix-web-actors/src/ws.rs
Labels: B-semver-norelease, A-actors

#2752 Expose option for setting TLS handshake timeout
  actix-http/src/lib.rs
  actix-http/src/service.rs
  actix-http/tests/test_openssl.rs
  actix-http/tests/test_rustls.rs
  actix-web/CHANGES.md
  actix-web/src/server.rs
Labels: A-http, B-semver-minor, A-web

#2798 retain previously set vary headers when using compress
  actix-http/CHANGES.md
  actix-http/src/encoding/encoder.rs
  actix-web/src/middleware/compress.rs
Labels: A-http, B-semver-patch
