Repository actix/actix-web, pull requests merged in 2022-03, with the labels that each got.

#2643 fix(docs): TestRequest example fixed
  actix-web/src/test/test_request.rs
Labels: A-web, B-semver-norelease

#2675 add actix 0.13 support
  actix-web-actors/CHANGES.md
  actix-web-actors/Cargo.toml
  actix-web-actors/README.md
Labels: B-semver-minor, A-actors

#2645 Add support for audio files streaming
  actix-files/CHANGES.md
  actix-files/src/named.rs
Labels: A-files, B-semver-minor

#2683 fix(actix-http): encode correctly camel case header with n+2 hyphens
  actix-http/CHANGES.md
  actix-http/src/h1/encoder.rs
Labels: A-http, B-semver-patch

#2687 bump `regex` requirement to `1.5.5` due to security advisory
  actix-web/Cargo.toml
Labels: B-semver-patch, A-web

#2689 Implement getters for named file fields
  actix-files/CHANGES.md
  actix-files/src/named.rs
Labels: A-files, B-semver-minor

#2709 rework actix_router::Quoter
  actix-router/Cargo.toml
  actix-router/benches/quoter.rs
  actix-router/src/de.rs
  actix-router/src/quoter.rs
  actix-router/src/url.rs
Labels: B-semver-patch, A-router
