Repository actix/actix-web, pull requests merged in 2023-01, with the labels that each got.

#2956 add some useful header name constants
  actix-http/CHANGES.md
  actix-http/src/header/common.rs
  actix-http/src/header/mod.rs
Labels: A-http, B-semver-minor

#2955 add headermap::retain
  actix-http/CHANGES.md
  actix-http/src/header/map.rs
Labels: A-http, B-semver-minor

#2957 http service finalizer for automatic h2c detection
  actix-http/CHANGES.md
  actix-http/examples/h2c-detect.rs
  actix-http/src/builder.rs
  actix-http/src/service.rs
  actix-http/tests/test_server.rs
Labels: A-http, B-semver-minor

#2961 Add fallible versions of test_utils helpers to actix-test
  actix-web/CHANGES.md
  actix-web/src/test/mod.rs
  actix-web/src/test/test_utils.rs
Labels: B-semver-minor, A-web

#2968 add cache-status and cdn-cache-control header names
  actix-http/CHANGES.md
  actix-http/src/header/common.rs
  actix-http/src/header/mod.rs
Labels: A-http, B-semver-minor

#2920 fix non-empty body of http2 HEAD response
  actix-http/CHANGES.md
  actix-http/src/h2/dispatcher.rs
Labels: A-http, B-semver-patch

#2966 Update base64 to 0.21
  actix-http-test/Cargo.toml
  actix-http/Cargo.toml
  actix-http/src/ws/proto.rs
  awc/Cargo.toml
  awc/src/builder.rs
  awc/src/request.rs
  awc/src/ws.rs
  awc/tests/test_client.rs
Labels: A-awc, A-http, B-semver-norelease
