Repository actix/actix-web, pull requests merged in 2023-07, with the labels that each got.

#3037 Fix failing test on Windows
  actix-files/src/files.rs
Labels: A-files, B-semver-norelease

#3051 align awc's h2 version
  awc/Cargo.toml
Labels: A-http, B-semver-patch

#3062 Fix typo
  actix-http/src/http_message.rs
Labels: A-http, B-semver-norelease

#3072 Add http2 optional feature
  actix-multipart/Cargo.toml
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/src/rmap.rs
  actix-web/src/server.rs
Labels: B-semver-minor, A-web

#3070 Provide documentation in the `middleware` module
  actix-web/src/app.rs
  actix-web/src/middleware/mod.rs
Labels: A-web, B-semver-norelease

#2953 Hide authorization header in httprequest debug output
  actix-web/CHANGES.md
  actix-web/src/request.rs
Labels: B-semver-patch, A-web

#3075 do not compress media types
  actix-web/CHANGES.md
  actix-web/src/http/header/content_type.rs
  actix-web/src/middleware/compress.rs
Labels: B-semver-minor, A-web

#3019 set up dependabot
  .github/dependabot.yml
Labels: A-meta, B-semver-norelease

#3081 update syn to 2 in web codegen
  actix-multipart-derive/CHANGES.md
  actix-multipart-derive/Cargo.toml
  actix-router/src/resource.rs
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/trybuild/routes-missing-args-fail.stderr
  actix-web-codegen/tests/trybuild/simple-fail.stderr
Labels: A-codegen, B-semver-minor

#3042 Add missing status code constructor methods on `HttpResponse`
  actix-web/CHANGES.md
  actix-web/src/response/http_codes.rs
Labels: B-semver-minor, A-web

#3083 add payload to_bytes helpers
  actix-http/src/body/body_stream.rs
  actix-web/CHANGES.md
  actix-web/src/types/payload.rs
Labels: B-semver-minor, A-web

#2490 add `ContentLength` typed header
  actix-web/CHANGES.md
  actix-web/src/http/header/allow.rs
  actix-web/src/http/header/content_length.rs
  actix-web/src/http/header/content_range.rs
  actix-web/src/http/header/mod.rs
  actix-web/src/types/json.rs
Labels: B-semver-minor, A-web
