Repository actix/actix-web, pull requests merged in 2023-08, with the labels that each got.

#3094 chore: update msrv to 1.68
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  actix-files/CHANGES.md
  actix-files/README.md
  actix-http-test/CHANGES.md
  actix-http-test/README.md
  actix-http/CHANGES.md
  actix-http/README.md
  actix-multipart-derive/CHANGES.md
  actix-multipart-derive/README.md
  actix-multipart-derive/tests/trybuild.rs
  actix-multipart/CHANGES.md
  actix-multipart/README.md
  actix-router/CHANGES.md
  actix-router/src/resource.rs
  actix-test/CHANGES.md
  actix-web-actors/CHANGES.md
  actix-web-actors/README.md
  actix-web-codegen/CHANGES.md
  actix-web-codegen/README.md
  actix-web-codegen/tests/trybuild.rs
  actix-web/CHANGES.md
  actix-web/README.md
  awc/CHANGES.md
  awc/README.md
Labels: A-meta

#3114 ci: name msrv jobs
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci.yml
  .gitignore
Labels: A-meta, B-semver-norelease

#3112 minimum viable rustls v0.21 support
  .github/workflows/ci.yml
  Cargo.toml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/examples/tls_rustls.rs
  actix-http/examples/ws.rs
  actix-http/src/h1/service.rs
  actix-http/src/h2/service.rs
  actix-http/src/lib.rs
  actix-http/src/service.rs
  actix-http/tests/test_rustls.rs
  actix-web/Cargo.toml
  awc/Cargo.toml
Labels: A-http, B-semver-minor, A-web

#3109 Implement Deserialize and Default for actix_web::Data
  actix-web/CHANGES.md
  actix-web/src/data.rs
Labels: B-semver-minor, A-web

#3116 Actix Web Rustls v0.21 support
  .github/workflows/ci.yml
  .github/workflows/clippy-fmt.yml
  actix-files/src/lib.rs
  actix-http/Cargo.toml
  actix-http/src/h1/payload.rs
  actix-http/src/service.rs
  actix-multipart/src/server.rs
  actix-router/benches/quoter.rs
  actix-router/src/url.rs
  actix-test/CHANGES.md
  actix-test/Cargo.toml
  actix-test/src/lib.rs
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/src/app_service.rs
  actix-web/src/handler.rs
  actix-web/src/route.rs
  actix-web/src/server.rs
  actix-web/tests/test_server.rs
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/client/connector.rs
  awc/tests/test_rustls_client.rs
Labels: A-awc, B-semver-minor, A-web

#3119 fix: wrap attribute codegen regression when using expression
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/README.md
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/test_macro.rs
  actix-web-codegen/tests/trybuild/simple-fail.stderr
Labels: A-codegen, B-semver-patch
