Repository actix/actix-web, pull requests merged in 2023-02, with the labels that each got.

#2969 added support for creating custom methods with route macro
  actix-web-codegen/CHANGES.md
  actix-web-codegen/src/lib.rs
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/test_macro.rs
  actix-web-codegen/tests/trybuild.rs
  actix-web-codegen/tests/trybuild/route-custom-lowercase.rs
  actix-web-codegen/tests/trybuild/route-custom-lowercase.stderr
  actix-web-codegen/tests/trybuild/route-custom-method.rs
  actix-web-codegen/tests/trybuild/route-unexpected-method-fail.stderr
  actix-web/CHANGES.md
Labels: A-codegen, B-semver-minor

#2690 [awc] change `client::Connect` to be public
  awc/CHANGES.md
  awc/src/lib.rs
Labels: A-awc, B-semver-patch

#2973 added body manipulation example for error handlers
  actix-web/src/middleware/err_handlers.rs
Labels: A-web, B-semver-norelease

#2982 fix typos
  actix-files/src/path_buf.rs
  actix-http/CHANGES.md
  actix-web/MIGRATION-2.0.md
  actix-web/src/test/test_utils.rs
Labels: A-files, C-docs, A-web, B-semver-norelease

#2883 actix-multipart: Feature: Add typed multipart form extractor
  Cargo.toml
  actix-multipart-derive/Cargo.toml
  actix-multipart-derive/LICENSE-APACHE
  actix-multipart-derive/LICENSE-MIT
  actix-multipart-derive/README.md
  actix-multipart-derive/src/lib.rs
  actix-multipart-derive/tests/trybuild.rs
  actix-multipart-derive/tests/trybuild/all-required.rs
  actix-multipart-derive/tests/trybuild/deny-duplicates.rs
  actix-multipart-derive/tests/trybuild/deny-parse-fail.rs
  actix-multipart-derive/tests/trybuild/deny-parse-fail.stderr
  actix-multipart-derive/tests/trybuild/deny-unknown.rs
  actix-multipart-derive/tests/trybuild/optional-and-list.rs
  actix-multipart-derive/tests/trybuild/rename.rs
  actix-multipart-derive/tests/trybuild/size-limit-parse-fail.rs
  actix-multipart-derive/tests/trybuild/size-limit-parse-fail.stderr
  actix-multipart-derive/tests/trybuild/size-limits.rs
  actix-multipart/CHANGES.md
  actix-multipart/Cargo.toml
  actix-multipart/src/error.rs
  actix-multipart/src/extractor.rs
  actix-multipart/src/form/bytes.rs
  actix-multipart/src/form/json.rs
  actix-multipart/src/form/mod.rs
  actix-multipart/src/form/tempfile.rs
  actix-multipart/src/form/text.rs
  actix-multipart/src/lib.rs
  actix-multipart/src/server.rs
  actix-web/Cargo.toml
  awc/Cargo.toml
Labels: B-semver-major, A-multipart

#2960 actix-test: allow dynamic port setting
  actix-test/CHANGES.md
  actix-test/src/lib.rs
Labels: B-semver-minor, A-test-server
