Repository actix/actix-web, pull requests merged in 2023-03, with the labels that each got.

#2978 add resource method helpers
  actix-web/CHANGES.md
  actix-web/src/resource.rs
Labels: B-semver-minor, A-web

#3001 add compression_responses benchmark
  actix-http/Cargo.toml
  actix-http/benches/response-body-compression.rs
Labels: A-http, B-semver-norelease

#3000 add `body::to_bytes_limited` (#3000
  actix-http/CHANGES.md
  actix-http/src/body/mod.rs
  actix-http/src/body/utils.rs
Labels: A-http, B-semver-minor

#3003 ci(windows): use choco to install openssl (#3003
  .github/workflows/ci.yml
Labels: A-meta, O-windows

#3002 add API diff to CI
  .github/workflows/bench.yml
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci.yml
  .github/workflows/clippy-fmt.yml
  .github/workflows/coverage.yml
  .github/workflows/upload-doc.yml
Labels: A-meta

#3007 docs(actix-http-test): update test server example
  actix-http-test/src/lib.rs
Labels: A-test-server, B-semver-norelease
