Repository actix/actix-web, pull requests merged in 2024-06, with the labels that each got.

#3388 From Boxed ResponseError impl added
  actix-web/CHANGES.md
  actix-web/src/error/error.rs
Labels: B-semver-minor, A-web

#3372 Do not require actix-router default features from actix-web-codegen
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/tests/trybuild/route-malformed-path-fail.stderr
Labels: A-codegen, B-semver-patch

#3341 Add app_data method to GuardContext
  actix-web/CHANGES.md
  actix-web/src/guard/mod.rs
Labels: B-semver-minor, A-web

#3356 Allow disabling redirect following in actix-test
  actix-test/CHANGES.md
  actix-test/src/lib.rs
Labels: B-semver-minor, A-test-server

#3371 actix-http::ws: Remove redundant + 4 byte reservation when masked
  actix-http/src/ws/frame.rs
Labels: A-http, B-semver-patch

#3215 feat: add .customize().add_cookie()
  actix-web/CHANGES.md
  actix-web/src/response/customize_responder.rs
Labels: B-semver-minor, A-web

#3136 Scope macro
  actix-web-codegen/CHANGES.md
  actix-web-codegen/src/lib.rs
  actix-web-codegen/src/route.rs
  actix-web-codegen/src/scope.rs
  actix-web-codegen/tests/routes.rs
  actix-web-codegen/tests/scopes.rs
  actix-web-codegen/tests/trybuild.rs
  actix-web-codegen/tests/trybuild/scope-invalid-args.rs
  actix-web-codegen/tests/trybuild/scope-invalid-args.stderr
  actix-web-codegen/tests/trybuild/scope-missing-args.rs
  actix-web-codegen/tests/trybuild/scope-missing-args.stderr
  actix-web-codegen/tests/trybuild/scope-on-handler.rs
  actix-web-codegen/tests/trybuild/scope-on-handler.stderr
  actix-web-codegen/tests/trybuild/scope-trailing-slash.rs
  actix-web-codegen/tests/trybuild/scope-trailing-slash.stderr
  actix-web/src/lib.rs
  awc/src/client/connector.rs
  justfile
Labels: A-codegen, B-semver-minor

#3390 feat: expose Identity middleware
  .github/workflows/lint.yml
  actix-web/CHANGES.md
  actix-web/src/middleware/compat.rs
  actix-web/src/middleware/condition.rs
  actix-web/src/middleware/identity.rs
  actix-web/src/middleware/mod.rs
Labels: B-semver-minor, A-web

#3391 feat: forwards-compatibility for handler visibility inheritance fix
  actix-web-codegen/CHANGES.md
  actix-web-codegen/Cargo.toml
  actix-web-codegen/src/route.rs
  actix-web-codegen/tests/scopes.rs
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  awc/Cargo.toml
Labels: B-semver-minor, A-web

#3369 actix-web-actors: take the internal buffer when yielding
  actix-web-actors/CHANGES.md
  actix-web-actors/src/ws.rs
Labels: B-semver-patch, A-actors

#3393 Re-export `http::status::InvalidStatusCode`
  actix-http/src/error.rs
Labels: A-http, B-semver-patch

#3351 actix-test: allow the configuration of the TestServer address
  actix-test/CHANGES.md
  actix-test/src/lib.rs
Labels: B-semver-minor, A-test-server

#3343 Strip non-address characters from Forwarded for=
  actix-web/CHANGES.md
  actix-web/src/info.rs
Labels: B-semver-patch, A-web

#3334 Return 415 rather than 400 on Urlencoded Content-Type mismatch
  actix-web/CHANGES.md
  actix-web/src/error/mod.rs
Labels: B-semver-patch, A-web

#3175 ci: external types checking
  .github/workflows/lint.yml
  actix-files/Cargo.toml
  actix-http-test/Cargo.toml
  actix-http/Cargo.toml
  actix-multipart/Cargo.toml
  actix-router/Cargo.toml
  actix-test/Cargo.toml
  actix-web-actors/Cargo.toml
  actix-web/Cargo.toml
  awc/Cargo.toml
  justfile
Labels: A-meta, B-semver-norelease

#3096 web: add `HttpRequest::full_url()`
  actix-web/CHANGES.md
  actix-web/src/request.rs
Labels: B-semver-minor, A-web

#3397 test: demonstrate panic in multipart forms
  actix-multipart/src/form/mod.rs
  actix-multipart/src/server.rs
Labels: B-semver-patch, A-multipart

#3399 feat: Html responder
  actix-multipart/README.md
  actix-web/CHANGES.md
  actix-web/README.md
  actix-web/src/types/html.rs
  actix-web/src/types/mod.rs
Labels: B-semver-minor, A-web

#3408 Fix Rustls 0.22 & 0.23 are limited to 256 handshakes per second.
  actix-http/Cargo.toml
  actix-http/src/lib.rs
  actix-http/src/service.rs
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/src/server.rs
Labels: A-http, B-semver-patch, A-web
