Repository actix/actix-web, pull requests merged in 2024-01, with the labels that each got.

#3235 actix-files: Properly handle newlines in file names
  actix-files/CHANGES.md
  actix-files/src/lib.rs
  actix-files/src/named.rs
Labels: A-files, B-semver-patch

#3237 actix-files: fix handling linebreaks in filenames
  actix-files/CHANGES.md
  actix-files/src/lib.rs
  actix-files/src/named.rs
Labels: A-files, B-semver-patch

#3248 chore: fix typos
  actix-web/MIGRATION-4.0.md
  actix-web/src/data.rs
  actix-web/src/guard/acceptable.rs
  actix-web/src/guard/host.rs
Labels: A-web, B-semver-norelease

#3251 docs: mention result is wrapped in Data in data_factory() docs
  actix-web/src/app.rs
Labels: A-web, B-semver-norelease

#3255 ci: faster cargo-public-api install
  .github/workflows/lint.yml
  actix-http/src/requests/head.rs
Labels: A-meta, B-semver-norelease

#3262 actix-http: Bump h2 to fix a resource exhaustion vulnerability
  actix-http/Cargo.toml
Labels: A-http, B-semver-norelease
