Repository actix/actix-web, pull requests merged in 2024-08, with the labels that each got.

#3446 feat: add ThinData wrapper
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/src/lib.rs
  actix-web/src/thin_data.rs
  actix-web/src/web.rs
Labels: B-semver-minor, A-web

#3447 feat: add from_fn middleware
  actix-web/CHANGES.md
  actix-web/examples/middleware_from_fn.rs
  actix-web/src/middleware/from_fn.rs
  actix-web/src/middleware/mod.rs
Labels: B-semver-minor, A-web

#3453 build(deps): update derive_more to v1.0
  Cargo.toml
  actix-files/CHANGES.md
  actix-files/Cargo.toml
  actix-files/src/error.rs
  actix-files/src/named.rs
  actix-files/src/range.rs
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/body/body_stream.rs
  actix-http/src/body/utils.rs
  actix-http/src/encoding/encoder.rs
  actix-http/src/error.rs
  actix-http/src/header/shared/content_encoding.rs
  actix-http/src/header/shared/quality.rs
  actix-http/src/ws/mod.rs
  actix-http/tests/test_client.rs
  actix-http/tests/test_openssl.rs
  actix-http/tests/test_rustls.rs
  actix-http/tests/test_server.rs
  actix-http/tests/test_ws.rs
  actix-multipart/CHANGES.md
  actix-multipart/Cargo.toml
  actix-multipart/src/error.rs
  actix-multipart/src/field.rs
  actix-multipart/src/form/json.rs
  actix-multipart/src/form/mod.rs
  actix-multipart/src/form/tempfile.rs
  actix-multipart/src/form/text.rs
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/src/error/mod.rs
  actix-web/src/http/header/content_length.rs
  actix-web/src/info.rs
  actix-web/src/types/path.rs
  actix-web/src/types/query.rs
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/client/error.rs
  awc/src/error.rs
  awc/src/sender.rs
Labels: A-files, A-awc, A-http, A-multipart, A-web, B-semver-norelease

#3448 fix(awc): prevent panics in pool drop for h1 connections
  awc/CHANGES.md
  awc/src/client/pool.rs
Labels: A-awc, B-semver-patch
