Repository actix/actix-web, pull requests merged in 2024-03, with the labels that each got.

#3291 Add `unicode` feature to switch between `regex` and `regex-lite` crates as a trade-off between full unicode support and binary size
  .github/workflows/ci.yml
  actix-router/CHANGES.md
  actix-router/Cargo.toml
  actix-router/src/lib.rs
  actix-router/src/regex_set.rs
  actix-router/src/resource.rs
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/src/http/header/content_disposition.rs
  actix-web/src/middleware/logger.rs
  actix-web/src/middleware/normalize.rs
Labels: B-semver-minor, A-router, A-web

#3304 docs(actix-web): add missing 'that' to doc comments for Compress middleware
  actix-web/src/middleware/compress.rs
Labels: A-web, B-semver-norelease

#3303 CI: Free space before test
  .github/workflows/ci-post-merge.yml
  scripts/free-disk-space.sh
Labels: A-meta, B-semver-norelease
