Repository actix/actix-web, pull requests merged in 2024-07, with the labels that each got.

#3416 fix(multipart): optional content-disposition for non-form-data requests
  actix-multipart-derive/src/lib.rs
  actix-multipart/CHANGES.md
  actix-multipart/Cargo.toml
  actix-multipart/README.md
  actix-multipart/examples/form.rs
  actix-multipart/src/error.rs
  actix-multipart/src/extractor.rs
  actix-multipart/src/form/bytes.rs
  actix-multipart/src/form/json.rs
  actix-multipart/src/form/mod.rs
  actix-multipart/src/form/tempfile.rs
  actix-multipart/src/form/text.rs
  actix-multipart/src/lib.rs
  actix-multipart/src/server.rs
  actix-multipart/src/test.rs
  actix-web/src/http/header/content_disposition.rs
Labels: B-semver-major, A-multipart

#3421 chore(awc): fix the issue where the code in the awc example cannot run
  awc/examples/client.rs
Labels: A-awc, B-semver-norelease

#3439 docs: fix typo
  actix-web/src/middleware/mod.rs
Labels: A-web, B-semver-norelease
