Repository actix/actix-web, pull requests merged in 2024-02, with the labels that each got.

#3230 Implement `From<&HeaderMap>` for `http::HeaderMap`
  actix-http/CHANGES.md
  actix-http/src/header/map.rs
Labels: A-http, B-semver-minor

#3276 Update Cargo.toml
  awc/Cargo.toml
Labels: A-http, B-semver-patch

#3275 Rustls v0.22 support
  .cargo/config.toml
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci.yml
  actix-files/src/lib.rs
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/examples/tls_rustls.rs
  actix-http/examples/ws.rs
  actix-http/src/h1/service.rs
  actix-http/src/h2/service.rs
  actix-http/src/lib.rs
  actix-http/src/service.rs
  actix-http/tests/test_rustls.rs
  actix-test/CHANGES.md
  actix-test/Cargo.toml
  actix-test/src/lib.rs
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/src/server.rs
  actix-web/tests/test_server.rs
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/client/connector.rs
  awc/tests/test_rustls_client.rs
Labels: A-awc, A-http, B-semver-minor, A-web

#3261 perf: remove unnecessary allocation when writing http dates
  .github/workflows/ci.yml
  Cargo.toml
  actix-files/CHANGES.md
  actix-files/README.md
  actix-http-test/CHANGES.md
  actix-http-test/README.md
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/README.md
  actix-http/benches/date-formatting.rs
  actix-http/src/date.rs
  actix-http/src/header/shared/http_date.rs
  actix-multipart-derive/CHANGES.md
  actix-multipart-derive/README.md
  actix-multipart-derive/tests/trybuild.rs
  actix-multipart/CHANGES.md
  actix-multipart/README.md
  actix-router/CHANGES.md
  actix-router/README.md
  actix-test/CHANGES.md
  actix-web-actors/CHANGES.md
  actix-web-actors/README.md
  actix-web-codegen/CHANGES.md
  actix-web-codegen/README.md
  actix-web-codegen/tests/trybuild.rs
  actix-web/CHANGES.md
  actix-web/README.md
  awc/CHANGES.md
  awc/README.md
Labels: A-http, B-semver-norelease

#3288 feat: multipart testing utilities
  actix-multipart/CHANGES.md
  actix-multipart/Cargo.toml
  actix-multipart/src/form/json.rs
  actix-multipart/src/lib.rs
  actix-multipart/src/server.rs
  actix-multipart/src/test.rs
Labels: B-semver-minor, A-multipart
