Repository actix/actix-web, pull requests merged in 2024-12, with the labels that each got.

#3526 Fix continuous integration
  justfile
Labels: A-meta, B-semver-norelease

#3530 docs: reword sentence
  actix-web/src/resource.rs
Labels: A-web, B-semver-norelease

#3483 refactor: replace ahash with foldhash
  actix-http/Cargo.toml
  actix-http/src/extensions.rs
  actix-http/src/header/map.rs
  actix-web/Cargo.toml
  actix-web/src/middleware/err_handlers.rs
  actix-web/src/rmap.rs
Labels: A-http, B-semver-patch, A-web

#3516 fix(http2): remove host header when using http2
  awc/CHANGES.md
  awc/src/client/h2proto.rs
Labels: A-awc, B-semver-patch
