Repository actix/actix-web, pull requests merged in 2024-05, with the labels that each got.

#3365 ci: rely more on justfiles
  .cargo/config.toml
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci.yml
  Cargo.toml
  actix-multipart-derive/Cargo.toml
  actix-web-codegen/Cargo.toml
  justfile
Labels: A-meta, B-semver-norelease

#3348 Fix type confusion in some scenarios
  actix-web/CHANGES.md
  actix-web/src/app_service.rs
  actix-web/src/scope.rs
Labels: B-semver-patch, A-web

#3361 actix-http: Add rustls 0.23
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci.yml
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/examples/tls_rustls.rs
  actix-http/examples/ws.rs
  actix-http/src/h1/service.rs
  actix-http/src/h2/service.rs
  actix-http/src/lib.rs
  actix-http/src/service.rs
  actix-http/tests/test_rustls.rs
Labels: A-http, B-semver-minor

#3349 actix-test: re-export types from awc
  actix-test/CHANGES.md
  actix-test/src/lib.rs
Labels: B-semver-minor, A-test-server

#3344 Documentation for actix multipart
  actix-multipart/README.md
  actix-multipart/src/lib.rs
Labels: A-multipart, B-semver-norelease

#3363 actix-web: Add rustls 0.23
  actix-http/examples/tls_rustls.rs
  actix-test/CHANGES.md
  actix-test/Cargo.toml
  actix-test/src/lib.rs
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/src/lib.rs
  actix-web/src/server.rs
  actix-web/tests/test_server.rs
  awc/CHANGES.md
  awc/Cargo.toml
  awc/src/builder.rs
  awc/src/client/connector.rs
  awc/tests/test_rustls_client.rs
Labels: B-semver-minor, A-web

#3370 ci: use mold linker
  .github/workflows/ci.yml
Labels: A-meta, B-semver-norelease
