Repository actix/actix-web, pull requests merged in 2025-05, with the labels that each got.

#3644 feat: add HttpServer::shutdown_signal
  .cspell.yml
  Cargo.lock
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/src/server.rs
Labels: B-semver-minor, A-web

#3566 Fix order of template arguments in Handler documentation example
  actix-web/src/handler.rs
Labels: A-web, B-semver-norelease

#3624 Re-export mime types for easier access #3603
  actix-web/CHANGES.md
  actix-web/src/lib.rs
Labels: B-semver-minor, A-web

#3605 Implements log_level for Logger middleware
  actix-web/CHANGES.md
  actix-web/src/middleware/logger.rs
Labels: B-semver-minor, A-web

#3527 build(deps): update url requirement from 2.1 to 2.5.4
  actix-web/Cargo.toml
Labels: A-web, B-semver-norelease

#3525 feat: do not use host header on http2 for guard
  actix-web/CHANGES.md
  actix-web/src/guard/host.rs
Labels: B-semver-patch, A-web

#3486 fix: svg files should be compressed
  actix-web/CHANGES.md
  actix-web/src/middleware/compress.rs
Labels: B-semver-patch, A-web
