Repository actix/actix-web, pull requests merged in 2025-08, with the labels that each got.

#3735 docs(web): Fix invalid link for `HttpRequest::match_info()`
  actix-web/src/web.rs
Labels: A-web, B-semver-norelease

#3749 fix(http): Wake Payload when feeding error or EOF
  actix-http/CHANGES.md
  actix-http/Cargo.toml
  actix-http/src/h1/payload.rs
Labels: A-http, B-semver-patch

#3734 Make 'ws' feature of actix-http optional in actix-web
  actix-web-actors/Cargo.toml
  actix-web/CHANGES.md
  actix-web/Cargo.toml
  actix-web/src/error/response_error.rs
Labels: B-semver-minor, A-web

#3680 docs(middleware): complete middleware author's guide
  actix-web/src/middleware/authors-guide.md
Labels: A-web, B-semver-norelease

#3706 feat(actix-files): opt-in filesize threshold for faster synchronous reads
  actix-files/CHANGES.md
  actix-files/src/chunked.rs
  actix-files/src/files.rs
  actix-files/src/named.rs
  actix-files/src/service.rs
Labels: A-files, B-semver-minor
